Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

fix(schema): set default value for blame list
  src/codemap/processor/vector/schema.py
Due: pre-commit-tasks, pytest

feat(llm): use multiple tools for LLM RAG
  src/codemap/llm/rag/ask/command.py
Due: pre-commit-tasks, pytest

feat(rag): expose read_file and semantic_retrieval tools
  src/codemap/llm/rag/tools/__init__.py
Due: pre-commit-tasks, pytest

chore: update lock file
  uv.lock
Due: uv-sync

chore: update lock file
  src/codemap/llm/rag/tools/web_search.py
  uv.lock
Due: uv-sync, pre-commit-tasks, pytest

feat(rag): expose web search tool
  src/codemap/llm/rag/tools/__init__.py
Due: pre-commit-tasks, pytest

refactor(semantic-retrieval): rename tool to semantic_retrieval
  src/codemap/llm/rag/tools/semantic_retrieval.py
Due: pre-commit-tasks, pytest

feat: add pydantic-ai-slim dependency
  pyproject.toml
Due: uv-sync

refactor(pre-commit): use dedicated task for ruff linting
  Taskfile.yml
Due: none

feat(llm): add web search tool
  src/codemap/llm/rag/ask/command.py
Due: pre-commit-tasks, pytest

ci: update docs-push-pre condition to trigger on dev branch
  .github/workflows/release.yml
Due: none

refactor(test): move process_codebase import to utils
  tests/gen/test_command.py
Due: pre-commit-tasks, pytest

docs: auto generated docs
  docs/api/gen/index.md
  docs/api/llm/rag/tools/index.md
  docs/api/llm/rag/tools/read_file.md
  docs/api/llm/rag/tools/semantic_retrieval.md
  docs/api/llm/rag/tools/web_search.md
  mkdocs.yml
  uv.lock
Due: uv-sync

refactor(rag): improve error handling with ModelRetry exceptions
  src/codemap/llm/rag/tools/read_file.py
  src/codemap/llm/rag/tools/semantic_retrieval.py
Due: pre-commit-tasks, pytest

feat(llm): enhance llm client with agent caching and iterative completion
  src/codemap/llm/api.py
  src/codemap/llm/client.py
  src/codemap/llm/rag/tools/codebase_summary.py
Due: pre-commit-tasks, pytest

chore(config): update llm configuration parameters
  .codemap.yml
  src/codemap/config/config_schema.py
Due: pre-commit-tasks, pytest

feat(rag/tools): expose codebase summary tool
  src/codemap/llm/rag/tools/__init__.py
Due: pre-commit-tasks, pytest

feat(read-file): enhance file search to handle paths
  src/codemap/llm/rag/tools/read_file.py
Due: pre-commit-tasks, pytest

feat(llm): improve clarity and thoroughness of ask command prompt
  src/codemap/llm/rag/ask/prompts.py
Due: pre-commit-tasks, pytest

feat(llm): use iterative completion for LLM responses
  src/codemap/llm/rag/ask/command.py
Due: pre-commit-tasks, pytest

chore(llm): update LLM model prices and context windows
  .codemap.yml
  src/codemap/llm/model_prices_and_context_window.json
  src/codemap/llm/rag/tools/pattern_search.py
  src/codemap/processor/semantic_search/__init__.py
  src/codemap/processor/semantic_search/engine.py
  src/codemap/processor/semantic_search/results.py
  tests/processor/semantic_search/__init__.py
  tests/processor/semantic_search/test_engine.py
  tests/processor/semantic_search/test_results.py
Due: pre-commit-tasks, pytest

feat(read-file): improve file path handling in read-file tool
  src/codemap/llm/rag/tools/read_file.py
  src/codemap/utils/git_utils.py
Due: pre-commit-tasks, pytest

test(llm): add unit tests for the LLM client
  tests/conftest.py
  tests/llm/test_api.py
  tests/llm/test_client.py
Due: pre-commit-tasks, pytest

chore: update dependencies
  uv.lock
Due: uv-sync

feat(tools): enhance codebase summary and semantic retrieval tools
  src/codemap/llm/rag/tools/codebase_summary.py
  src/codemap/llm/rag/tools/semantic_retrieval.py
Due: pre-commit-tasks, pytest

feat(llm): improve prompts for ask command
  src/codemap/llm/rag/ask/prompts.py
Due: pre-commit-tasks, pytest

chore(lockfile): remove unused dependencies
  uv.lock
Due: uv-sync

feat(ask-command): add pattern search and usage summary
  src/codemap/llm/rag/ask/command.py
Due: pre-commit-tasks, pytest

feat(cli): add usage flag to ask command
  src/codemap/cli/ask_cmd.py
Due: pre-commit-tasks, pytest

feat(rag): expose pattern search tool
  src/codemap/llm/rag/tools/__init__.py
Due: pre-commit-tasks, pytest

feat(rag): add formatted usage summary printing
  src/codemap/llm/rag/interactive.py
Due: pre-commit-tasks, pytest

feat(llm-client): add detailed usage tracking for LLM interactions
  src/codemap/llm/client.py
Due: pre-commit-tasks, pytest
