Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

feat(config): add embedding and sync configurations
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor: remove unused tool definitions and simplify context retrieval
  src/codemap/llm/rag/command.py
  src/codemap/llm/rag/formatter.py
  src/codemap/llm/rag/prompts.py
Due: pre-commit-tasks, pytest

chore: remove graph builder and kuzu manager files
  src/codemap/processor/graph/__init__.py
  src/codemap/processor/graph/graph_builder.py
  src/codemap/processor/graph/kuzu_manager.py
Due: pre-commit-tasks, pytest

chore!: remove synchronizer module
  src/codemap/processor/graph/synchronizer.py
Due: pre-commit-tasks, pytest

refactor: replace kuzudb with hnsw vector database and remove graph-related functionality
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

refactor(embedding_utils): update embedding configuration to use default_config
  src/codemap/processor/utils/embedding_utils.py
  src/codemap/processor/utils/git_utils.py
Due: pre-commit-tasks, pytest

fix(file_utils): improve file content reading with error handling
  src/codemap/utils/file_utils.py
Due: pre-commit-tasks, pytest

chore: remove integration tests for kuzumanager
  tests/integration_test/__init__.py
  tests/integration_test/test_kuzu_manager.py
Due: pre-commit-tasks, pytest

chore: remove graph tests
  tests/processor/graph/__init__.py
  tests/processor/graph/test_graph_synchronizer.py
Due: pre-commit-tasks, pytest

test(kuzu_manager): remove test_kuzu_manager and test_pipeline
  tests/processor/test_kuzu_manager.py
  tests/processor/test_pipeline.py
Due: pre-commit-tasks, pytest

docs: update blind exceptions documentation
  .cursor/rules/blind-exceptions.mdc
Due: none

refactor(vector): refactor vector processing code
  src/codemap/processor/vector/__init__.py
  src/codemap/processor/vector/chunking.py
  src/codemap/processor/vector/hnsw_manager.py
Due: pre-commit-tasks, pytest

fix(synchronizer): fix synchronization issue
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

feat(command): increase context results limit
  src/codemap/llm/rag/command.py
Due: pre-commit-tasks, pytest

feat(codemap): disable entity graph inclusion
  .codemap.yml
Due: none

refactor(cli): make ask command async
  src/codemap/cli/__init__.py
  src/codemap/cli/ask_cmd.py
Due: pre-commit-tasks, pytest

feat(codemap): update embedding configuration
  src/codemap/config.py
Due: pre-commit-tasks, pytest

feat(codemap): add config loader to process codebase
  src/codemap/gen/command.py
Due: pre-commit-tasks, pytest

feat(llm): add config loader support
  src/codemap/llm/api.py
  src/codemap/llm/client.py
  src/codemap/llm/config.py
Due: pre-commit-tasks, pytest

refactor(llm): introduce configloader for llm client configuration
  src/codemap/llm/utils.py
Due: pre-commit-tasks, pytest

refactor(command): refactor askcommand to use async initialization and configurable context limits
  src/codemap/llm/rag/command.py
Due: pre-commit-tasks, pytest

feat(pipeline): migrate from hnsw to qdrant for vector database management
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

feat(embedding_utils): migrate embedding generation to use voyage ai client
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest

refactor(vector): refactor vector synchronizer to use qdrant and improve performance
  src/codemap/processor/vector/chunking.py
  src/codemap/processor/vector/hnsw_manager.py
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

chore: update deps and pyproject.toml formatting for pypi
  pyproject.toml
  uv.lock
Due: uv-sync

refactor(config): update config and logging settings
  src/codemap/config.py
  src/codemap/utils/__init__.py
  src/codemap/utils/cli_utils.py
Due: pre-commit-tasks, pytest

chore: cursor rules for usage of config_loader
  .cursor/rules/config-constants.mdc
Due: none

feat: add qdrant manager
  src/codemap/processor/vector/qdrant_manager.py
  src/codemap/utils/docker_utils.py
Due: pre-commit-tasks, pytest

feat: add psycopg2-binary dependency
  pyproject.toml
Due: uv-sync

feat: update db module to use pg and update deps
  src/codemap/config.py
  src/codemap/db/client.py
  src/codemap/db/engine.py
  src/codemap/llm/rag/command.py
  src/codemap/processor/pipeline.py
  src/codemap/utils/docker_utils.py
  tests/db/conftest.py
  tests/db/test_client.py
  tests/db/test_engine.py
  tests/db/test_models.py
  tests/llm/__init__.py
  tests/llm/test_llm_api.py
  tests/llm/test_llm_integration.py
  tests/llm/test_llm_utils.py
  uv.lock
Due: uv-sync, pre-commit-tasks, pytest

feat: add watchdog dependency
  pyproject.toml
  uv.lock
Due: uv-sync

feat(codemap): add file watcher and index command
  src/codemap/cli/__init__.py
  src/codemap/cli/index_cmd.py
  src/codemap/processor/pipeline.py
  src/codemap/watcher/__init__.py
  src/codemap/watcher/file_watcher.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor database client initialization and engine creation
  src/codemap/cli/index_cmd.py
  src/codemap/db/client.py
  src/codemap/db/engine.py
  src/codemap/processor/pipeline.py
  src/codemap/watcher/file_watcher.py
Due: pre-commit-tasks, pytest

feat(docs): add index repository and ask questions about codebase commands
  README.md
  src/codemap/git/commit_generator/generator.py
  src/codemap/git/commit_generator/prompts.py
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/processor/vector/qdrant_manager.py
  tests/gen/test_command.py
  tests/git/commit/test_commit.py
Due: pre-commit-tasks, pytest

feat(test): update coverage for modules with low covrage and fix functionality
  tests/db/conftest.py
  tests/db/test_client.py
  tests/db/test_engine.py
  tests/db/test_models.py
  tests/llm/__init__.py
  tests/llm/conftest.py
  tests/llm/rag/__init__.py
  tests/llm/rag/test_formatter.py
  tests/llm/test_api.py
  tests/llm/test_client.py
  tests/llm/test_config.py
  tests/llm/test_utils.py
  tests/processor/test_chunking.py
  tests/processor/test_qdrant_manager.py
  tests/processor/test_vector_synchronizer.py
  tests/utils/test_docker_utils.py
Due: pre-commit-tasks, pytest

feat(dev): add pytest-asyncio dependency
  pyproject.toml
  uv.lock
Due: uv-sync

feat(pytest): enable asyncio mode
  pytest.ini
Due: none

refactor(codemap): improve database client initialization and engine handling
  src/codemap/cli/index_cmd.py
  src/codemap/db/client.py
  src/codemap/db/engine.py
  src/codemap/processor/pipeline.py
  src/codemap/watcher/file_watcher.py
Due: pre-commit-tasks, pytest

test(database): skip database-dependent tests in ci environment
  .github/workflows/tests.yml
  tests/conftest.py
  tests/db/test_client.py
  tests/db/test_models.py
Due: pre-commit-tasks, pytest

feat(deps): add multiple new dependencies for documentation and functionality
  uv.lock
Due: uv-sync
