Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

chore: remove module init
  src/codemap/llm/rag/agents/__init__.py
  src/codemap/llm/rag/ask/__init__.py
  src/codemap/llm/rag/do/__init__.py
  src/codemap/llm/rag/tools/__init__.py
Due: pre-commit-tasks, pytest

fix(codemap): add move operation context and flag
  src/codemap/git/commit_generator/prompts.py
  src/codemap/git/diff_splitter/schemas.py
Due: pre-commit-tasks, pytest

refactor(cli): update import paths for AskCommand and print_ask_result
  src/codemap/cli/ask_cmd.py
Due: pre-commit-tasks, pytest

docs: update installation instructions to use uv
  README.md
  docs/contributing/index.md
  docs/installation.md
Due: none

refactor(generator): improve move operation detection
  src/codemap/git/commit_generator/generator.py
Due: pre-commit-tasks, pytest

docs: update installation section to recommend using uv instead of pipx
  docs/installation.md
Due: none

ci: update release workflow to use 'uv build' and 'uv publish' command
  .github/workflows/release.yml
Due: none

chore(pyproject): update allowed_tags and modify minor/patch tags for release management
  pyproject.toml
Due: uv-sync

fix(llm): add LLM API and client functionality
  src/codemap/llm/__init__.py
  src/codemap/llm/api.py
  src/codemap/llm/client.py
  src/codemap/llm/utils.py
  tests/llm/test_api.py
  tests/llm/test_client.py
  tests/llm/test_utils.py
Due: pre-commit-tasks, pytest

fix: update prompts for commit and PR generation
  src/codemap/git/commit_generator/prompts.py
  src/codemap/git/pr_generator/prompts.py
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

refactor(generator): enhance LLM interaction by updating prompt handling
  src/codemap/git/commit_generator/generator.py
Due: pre-commit-tasks, pytest

refactor(codemap): simplify LLM response handling and prompt construction
  src/codemap/llm/rag/ask/command.py
Due: pre-commit-tasks, pytest

refactor(diff_splitter): improve file filtering logic
  src/codemap/git/diff_splitter/splitter.py
  tests/git/diff_splitter/test_utils.py
Due: pre-commit-tasks, pytest

feat(utils): add get_absolute_path function and modify filter_valid_files to use repo_root
  src/codemap/git/diff_splitter/utils.py
Due: pre-commit-tasks, pytest

refactor(codemap): improve path extraction and handling for renamed files
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

feat(cli): refactor cli commands and logging setup
  src/codemap/cli/__init__.py
  src/codemap/cli/ask_cmd.py
  src/codemap/cli/commit_cmd.py
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/index_cmd.py
  src/codemap/cli/pr_cmd.py
  src/codemap/git/commit_generator/command.py
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/semantic_grouping/embedder.py
  src/codemap/git/semantic_grouping/resolver.py
  src/codemap/utils/cli_utils.py
  src/codemap/utils/log_setup.py
Due: pre-commit-tasks, pytest

test(embedder): update embedder to use mock sentence transformer
  tests/git/semantic_grouping/test_embedder.py
Due: pre-commit-tasks, pytest

feat(config): add configuration loader
  src/codemap/config/config_loader.py
  src/codemap/utils/config_loader.py
Due: pre-commit-tasks, pytest

feat: update multiple files and add new features
  src/codemap/cli/__init__.py
  src/codemap/cli/ask_cmd.py
  src/codemap/cli/commit_cmd.py
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/index_cmd.py
  src/codemap/cli/pr_cmd.py
  src/codemap/gen/command.py
  src/codemap/gen/utils.py
  src/codemap/git/commit_generator/command.py
  src/codemap/git/commit_generator/generator.py
  src/codemap/git/commit_generator/utils.py
  src/codemap/git/commit_linter/config.py
  src/codemap/git/commit_linter/linter.py
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/pr_generator/command.py
  src/codemap/git/semantic_grouping/resolver.py
  src/codemap/llm/client.py
  src/codemap/llm/config.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/llm/utils.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/utils/git_utils.py
  src/codemap/processor/vector/chunking.py
  src/codemap/processor/vector/qdrant_manager.py
  src/codemap/processor/vector/synchronizer.py
  src/codemap/utils/path_utils.py
  tests/processor/test_chunking.py
  tests/utils/test_config.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor code structure
  src/codemap/config.py
  src/codemap/config/config_loader.py
  src/codemap/config/config_schema.py
  src/codemap/git/commit_generator/prompts.py
  src/codemap/git/commit_linter/__init__.py
  src/codemap/git/commit_linter/constants.py
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/pr_generator/generator.py
  src/codemap/git/pr_generator/utils.py
  src/codemap/git/semantic_grouping/clusterer.py
  src/codemap/git/semantic_grouping/embedder.py
  src/codemap/llm/__init__.py
  src/codemap/llm/api.py
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest

chore: update lock file
  uv.lock
Due: uv-sync

feat: add pylint plugin and nest_asyncio type stubs
  .vscode/settings.json
  typings/nest_asyncio/__init__.pyi
Due: none

fix: update llama model
  .codemap.yml
Due: none

feat(config): add initial config module
  src/codemap/config/__init__.py
Due: pre-commit-tasks, pytest

feat: add pydantic-ai and nest-asyncio dependencies
  pyproject.toml
Due: uv-sync

feat: add task to generate config keys and update pylint command
  Taskfile.yml
Due: none

fix: update distance threshold
  src/codemap/config/config_schema.py
Due: pre-commit-tasks, pytest

refactor(cli): update argument types and add help messages
  src/codemap/cli/ask_cmd.py
  src/codemap/cli/pr_cmd.py
  src/codemap/git/pr_generator/command.py
  src/codemap/git/semantic_grouping/clusterer.py
  src/codemap/llm/rag/ask/command.py
  uv.lock
Due: uv-sync, pre-commit-tasks, pytest

chore(uv.lock): update uv lock file
  pyproject.toml
  uv.lock
Due: uv-sync

feat: add device and model cache settings
  src/codemap/config/config_schema.py
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

feat(codemap): add embedding utils and voyage client
  src/codemap/processor/utils/embedding_utils.py
  src/codemap/processor/vector/synchronizer.py
  tests/processor/test_vector_synchronizer.py
Due: pre-commit-tasks, pytest

chore: remove trailing newline
  src/codemap/llm/__init__.py
Due: pre-commit-tasks, pytest

refactor(codemap): update ConfigLoader instance creation
  src/codemap/gen/command.py
Due: pre-commit-tasks, pytest

feat: add new field to pr command
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

refactor: improve commit generator command
  src/codemap/git/commit_generator/command.py
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/semantic_grouping/embedder.py
Due: pre-commit-tasks, pytest

refactor(config): remove model settings
  src/codemap/config/config_schema.py
Due: pre-commit-tasks, pytest

chore: remove output file configuration
  .codemap.yml
Due: none

refactor(embedding_utils): lazy load voyageai clients
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest
