Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

feat(docs): enhance mkdocs configuration with additional metadata and social links
  mkdocs.yml
Due: none

feat(docs): add comprehensive documentation for CodeMap features and usage
  docs/acknowledgements.md
  docs/assets/.gitkeep
  docs/contributing/code-of-conduct.md
  docs/contributing/guidelines.md
  docs/contributing/index.md
  docs/index.md
  docs/installation.md
  docs/usage/commit.md
  docs/usage/configuration.md
  docs/usage/generate.md
  docs/usage/index.md
  docs/usage/llm-support.md
  docs/usage/pr.md
Due: none

feat(docs): add mkdocs-material dependency
  pyproject.toml
Due: uv-sync

feat(docs): add mkdocs-material dependency
  mkdocs.yml
Due: none

chore(dependencies): add kuzu package and update metadata
  uv.lock
Due: uv-sync

chore: removed unused deps
  pyproject.toml
  typings/pymilvus/orm/__init__.pyi
  uv.lock
Due: uv-sync

chore: fix release configuration
  CHANGELOG.md
Due: none

chore: revert to single-step release and enable debug logging
  CHANGELOG.md
Due: none

chore: remove CHANGELOG and reset version to 0.0.0
  CHANGELOG.md
Due: none

chore(config): update project configuration
  CHANGELOG.md
Due: none

chore: reset version to 0.0.0 and update changelog configuration
  CHANGELOG.md
Due: none

feat(deps): add multiple new dependencies for documentation and functionality
  uv.lock
Due: uv-sync

chore: remove pymilvus and add tenacity to dependencies
  uv.lock
Due: uv-sync

feat(codemap): enable entity graph inclusion
  .codemap.yml
Due: none

chore: update gitignore
  .gitignore
Due: none

chore(mkdocs): update mkdocs configuration
  mkdocs.yml
Due: none

chore: update deps
  pyproject.toml
  uv.lock
Due: uv-sync

docs(contributing): update contributing guidelines and code of conduct references
  docs/contributing/code-of-conduct.md
  docs/contributing/guidelines.md
  docs/contributing/index.md
Due: none

docs(index): update documentation links and content
  docs/index.md
  docs/installation.md
Due: none

docs(usage): update documentation for commit and generate commands
  docs/usage/commit.md
  docs/usage/configuration.md
  docs/usage/generate.md
Due: none

docs(usage): update pr documentation
  docs/usage/pr.md
Due: none

ci: deploy docs action
  .github/workflows/docs.yml
Due: none

docs(readme): update readme with improved documentation and installation instructions
  README.md
Due: none

Create CNAME
  CNAME
Due: none

chore(docs): update site url
  mkdocs.yml
Due: none

Deployed a8d8a7d with MkDocs version: 1.6.1
  404.html
  CNAME
  acknowledgements/index.html
  contributing/code-of-conduct/index.html
  contributing/guidelines/index.html
  contributing/index.html
  index.html
  installation/index.html
  sitemap.xml
  sitemap.xml.gz
  usage/commit/index.html
  usage/configuration/index.html
  usage/generate/index.html
  usage/index.html
  usage/llm-support/index.html
  usage/pr/index.html
Due: none

feat(codemap): disable entity graph generation
  .codemap.yml
Due: none

feat(taskfile): add script directory to linter and formatter tasks
  Taskfile.yml
Due: none

docs(mkdocs): update mkdocs configuration
  mkdocs.yml
Due: none

chore: update dependencies and lock files
  pyproject.toml
  uv.lock
Due: uv-sync

feat(vscode): add mermaid custom tag support
  .vscode/settings.json
Due: none

fix(path_utils): update error handling in get_cache_path
  src/codemap/utils/path_utils.py
Due: pre-commit-tasks, pytest

chore: added script for autogenerating docs for api from docstrings using mkdocs
  scripts/__init__.py
  scripts/update_api_docs.py
Due: pre-commit-tasks, pytest

chore: update .gitignore to include site directory for mkdocs and ass CNAME file
  .gitignore
  docs/CNAME
Due: none

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
