Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

refactor(pipeline): update qdrant collection naming
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

refactor(codemap): Lazy initialize components for better performance
  src/codemap/git/commit_generator/command.py
  src/codemap/llm/api.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

refactor(tree_sitter): lazy load tree-sitter parsers
  src/codemap/processor/tree_sitter/analyzer.py
Due: pre-commit-tasks, pytest

refactor(lodgenerator): allow shared TreeSitterAnalyzer instance
  src/codemap/processor/lod.py
Due: pre-commit-tasks, pytest

feat(utils): add is_ollama_model function
  src/codemap/llm/utils.py
Due: pre-commit-tasks, pytest

feat(config): add base url to LLM schema
  src/codemap/config/config_schema.py
Due: pre-commit-tasks, pytest

chore(config): update codemap configuration
  .codemap.yml
Due: none

chore(config): adjust llm temperature for improved output creativity
  .codemap.yml
Due: none

refactor(processor): update pipeline imports and variables
  src/codemap/cli/conf_cmd.py
  src/codemap/config/config_loader.py
  src/codemap/git/commit_generator/command.py
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/pr_generator/command.py
  src/codemap/git/utils.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/utils/git_utils.py
  src/codemap/processor/vector/chunking.py
  src/codemap/processor/vector/schema.py
  src/codemap/processor/vector/synchronizer.py
  src/codemap/processor/vector/utils.py
Due: pre-commit-tasks, pytest

feat(codemap): enhance qdrant manager with improved payload indexing and schema validation
  src/codemap/processor/vector/qdrant_manager.py
Due: pre-commit-tasks, pytest

feat: add pygit2 dependency
  uv.lock
Due: uv-sync

refactor(pr_cmd): replace git diff functions with ExtendedGitRepoContext methods
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

feat(dependencies): add pygit2 dependency
  pyproject.toml
Due: uv-sync

refactor(codemap): Improve file analysis and caching
  src/codemap/processor/lod.py
  src/codemap/processor/tree_sitter/analyzer.py
  src/codemap/processor/vector/chunking.py
Due: pre-commit-tasks, pytest

refactor(codemap): improve repo root detection and blame handling
  src/codemap/git/commit_generator/command.py
  src/codemap/git/utils.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/utils/git_utils.py
Due: pre-commit-tasks, pytest

chore(codemap): update codemap configuration
  .codemap.yml
Due: none

refactor(synchronizer): improve chunk generation for files
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

feat(codemap): increase max context results
  .codemap.yml
  src/codemap/llm/rag/ask/command.py
Due: pre-commit-tasks, pytest

refactor: remove unused code and improve git operations
  src/codemap/git/utils.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/processor/hash_calculation.py
  src/codemap/processor/utils/git_utils.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor codemap module
  src/codemap/config/config_loader.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/vector/chunking.py
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

chore(lockfile): update lock file
  uv.lock
Due: uv-sync

feat(utils): add is_ollama_model function to check if a model name is an Ollama model
  src/codemap/llm/utils.py
Due: pre-commit-tasks, pytest

feat: add aiofiles and xxhash dependencies
  pyproject.toml
Due: uv-sync

refactor(qdrant_manager): refactor qdrant manager to improve data retrieval and deletion
  src/codemap/processor/vector/qdrant_manager.py
Due: pre-commit-tasks, pytest

refactor(codemap): Refactor docker utils to use async threading
  src/codemap/utils/docker_utils.py
Due: pre-commit-tasks, pytest

feat(codemap): add file metadata schema
  src/codemap/processor/vector/schema.py
Due: pre-commit-tasks, pytest

docs: auto generated api docs
  docs/api/llm/rag/ask/index.md
  docs/api/llm/rag/index.md
  docs/api/llm/rag/interactive.md
  docs/api/processor/hash_calculation.md
  docs/api/processor/index.md
  docs/api/processor/vector/index.md
  docs/api/processor/vector/schema.md
  docs/api/processor/vector/utils.md
  docs/installation.md
Due: none

tests: updated tests for pygit2 and new checksum implementation
  tests/base.py
  tests/conftest.py
  tests/git/commit/test_commit.py
  tests/git/commit/test_commit_cmd.py
  tests/git/pr/test_pr_command.py
  tests/git/pr/test_pr_generator_command.py
  tests/git/semantic_grouping/test_embedder.py
  tests/git/test_git_utils.py
  tests/processor/test_chunking.py
  tests/processor/test_qdrant_manager.py
  tests/processor/test_vector_synchronizer.py
  tests/processor/tree_sitter/test_analyzer.py
  tests/utils/test_config.py
  tests/utils/test_path_utils.py
Due: pre-commit-tasks, pytest

chore(dependencies): update dependencies
  mkdocs.bak
  pyproject.toml
Due: uv-sync

refactor(codemap): move is_git_ignored to GitRepoContext
  src/codemap/git/utils.py
  src/codemap/processor/utils/git_utils.py
Due: pre-commit-tasks, pytest

docs: update navigation menu
  mkdocs.yml
Due: none

refactor(synchronizer): update synchronizer to use ExtendedGitRepoContext
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

refactor(analyzer): improve file parsing with bytes handling
  src/codemap/processor/tree_sitter/analyzer.py
Due: pre-commit-tasks, pytest

refactor(docker_utils): remove unused httpx import and refactor async client usage
  src/codemap/utils/docker_utils.py
Due: pre-commit-tasks, pytest

chore(uv.lock): update uv.lock file
  uv.lock
Due: uv-sync

chore: remove backup mkdocs configuration file
  mkdocs.bak
Due: none

refactor(git_utils): move git utilities from processor to utils
  src/codemap/git/pr_generator/auth_todo.md
  src/codemap/git/pr_generator/pr_git_utils.py
  src/codemap/utils/git_utils.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor codemap module to improve code organization and readability
  src/codemap/cli/pr_cmd.py
  src/codemap/git/__init__.py
  src/codemap/git/pr_generator/__init__.py
  src/codemap/git/pr_generator/command.py
  src/codemap/git/pr_generator/generator.py
  src/codemap/git/pr_generator/strategies.py
  src/codemap/git/pr_generator/utils.py
  src/codemap/processor/hash_calculation.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/vector/chunking.py
  tests/git/pr/test_pr_utils.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
