Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

style(linting): update ruff lint ignores for cli main
  tests/git/pr/test_pr_decorators.py
Due: pre-commit-tasks, pytest

style(logging): refactor logging to handle exceptions
  tests/llm/test_llm_utils.py
Due: pre-commit-tasks, pytest

style(linting): update ruff lint ignores
  tests/utils/test_log_setup.py
  tests/utils/test_path_utils.py
Due: pre-commit-tasks, pytest

refactor(codemap): update Mermaid diagram generation
  .codemap.yml
Due: none

refactor(codemap): refactor CodeMapGenerator for improved mermaid diagram rendering
  src/codemap/gen/generator.py
  tests/gen/test_generator.py
Due: pre-commit-tasks, pytest

refactor(codemap): improve mermaid diagram generation and styling
  tests/cli/test_commit_cmd.py
Due: pre-commit-tasks, pytest

style(linting): update ruff lint ignores
  pyproject.toml
Due: uv-sync

refactor(utils): improve handling of deleted files in git status
  src/codemap/git/diff_splitter/utils.py
  tests/git/diff_splitter/test_utils.py
Due: pre-commit-tasks, pytest

refactor(git): improve handling of deleted files in git status
  tests/git/diff_splitter/__init__.py
  tests/git/diff_splitter/test_strategies.py
Due: pre-commit-tasks, pytest

docs(test): update test configuration
  pytest.ini
Due: none

test(pr_generator): update test cases for PR generator
  tests/gen/test_command.py
  tests/git/diff_splitter/test_splitter.py
  tests/git/pr/test_pr_generator.py
  tests/git/pr/test_pr_utils.py
Due: pre-commit-tasks, pytest

ci: add lint and release workflows
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

test: skip git-dependent tests in CI environment
  .github/workflows/tests.yml
  tests/conftest.py
  tests/git/commit/test_commit_workflow.py
  tests/git/diff_splitter/test_splitter.py
  tests/git/pr/test_pr_generator.py
Due: pre-commit-tasks, pytest

docs: update CONTRIBUTING.md with semantic release process
  .github/CONTRIBUTING.md
Due: none

docs: add lint and PyPI badges to README
  README.md
Due: none

build: refine semantic-release configuration
  pyproject.toml
Due: uv-sync

build: update dependencies lockfile
  uv.lock
Due: uv-sync

docs: update installation instructions for PyPI
  README.md
Due: none

ci: depend on tests and lint workflows before releasing
  .github/workflows/release.yml
Due: none

chore: fix for workflow does not contain permissions issue
  .github/workflows/lint.yml
Due: none

ci: run release workflows on pull requests
  .github/workflows/release.yml
Due: none

ci: enable VCS release in GitHub Actions workflow
  .github/workflows/release.yml
Due: none

ci: remove check for required workflows in release job
  .github/workflows/release.yml
Due: none

feat(project): bump version to 1.0.0 and add build dependency
  pyproject.toml
Due: uv-sync

feat: add build and pyproject-hooks dependencies, update CodeMap version to 1.0.0
  uv.lock
Due: uv-sync

feat(config): add project source and changelog to pyproject.toml
  pyproject.toml
Due: uv-sync

chore: bump project version to 2.0.0 in pyproject.toml
  pyproject.toml
Due: uv-sync

chore: update release workflow to install build tools into the system environment
  .github/workflows/release.yml
Due: none

chore: renamed models to ai_models to avoid confusion
  .vscode/settings.json
  ai_models/qodo_embed_m2v/LICENSE
  ai_models/qodo_embed_m2v/README.md
  ai_models/qodo_embed_m2v/config.json
  ai_models/qodo_embed_m2v/distill.py
  ai_models/qodo_embed_m2v/evaluate.py
  ai_models/qodo_embed_m2v/evaluation/memory_comparison.png
  ai_models/qodo_embed_m2v/evaluation/similarity_matrix.png
  ai_models/qodo_embed_m2v/evaluation/size_comparison.png
  ai_models/qodo_embed_m2v/evaluation/speed_comparison.png
  ai_models/qodo_embed_m2v/example.py
  ai_models/qodo_embed_m2v/modules.json
Due: pre-commit-tasks, pytest

chore: delted old models dir
  models/qodo_embed_m2v/evaluation/memory_comparison.png
  models/qodo_embed_m2v/evaluation/similarity_matrix.png
  models/qodo_embed_m2v/evaluation/size_comparison.png
  models/qodo_embed_m2v/evaluation/speed_comparison.png
  models/qodo_embed_m2v/modules.json
Due: none

chore: updated deps and changed lint config for the ai_models directory
  pyproject.toml
  uv.lock
Due: uv-sync

docs(tree-sitter): plans for migrating to query-based entity recognition for improved scalability and maintainability
  src/codemap/processor/tree_sitter/TODO.md
Due: none

refactor(codemap): refactor syntax handlers for better code organization
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor: refactor syntax handlers for better code organization and reusability
  src/codemap/processor/tree_sitter/languages/base.py
  src/codemap/processor/tree_sitter/languages/javascript.py
  src/codemap/processor/tree_sitter/languages/python.py
Due: pre-commit-tasks, pytest

refactor(typescript): improve syntax handling for TypeScript and Python
  src/codemap/processor/tree_sitter/languages/typescript.py
Due: pre-commit-tasks, pytest

refactor(vector): refactor syntax handling logic for better code organization
  src/codemap/processor/vector/__init__.py
  src/codemap/processor/vector/chunker.py
  src/codemap/processor/vector/client.py
Due: pre-commit-tasks, pytest

refactor(vector): refactor syntax handling logic for better code organization
  src/codemap/processor/vector/config.py
  src/codemap/processor/vector/embedder.py
  src/codemap/processor/vector/manager.py
Due: pre-commit-tasks, pytest

refactor(vector): refactor syntax handling logic for better code organization
  src/codemap/processor/vector/schema.py
  src/codemap/processor/vector/search.py
Due: pre-commit-tasks, pytest
