Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

chore(vscode): remove custom YAML tags for mermaid support
  .vscode/settings.json
Due: none

fix(gen): updated markdown formatting to use in-file links properly
  src/codemap/gen/command.py
  src/codemap/gen/generator.py
  src/codemap/gen/utils.py
  src/codemap/processor/tree_sitter/languages/python.py
  src/codemap/utils/path_utils.py
Due: pre-commit-tasks, pytest

feat(api): integrate message trimming for LLM API requests
  src/codemap/llm/api.py
Due: pre-commit-tasks, pytest

chore(gen): chaged main heading to include rel path
  src/codemap/cli/gen_cmd.py
  src/codemap/gen/command.py
  src/codemap/gen/generator.py
  src/codemap/gen/utils.py
Due: pre-commit-tasks, pytest

chore(config): update code analysis level
  .codemap.yml
Due: none

refactor(utils): update file type checks
  src/codemap/gen/utils.py
Due: pre-commit-tasks, pytest

refactor(commit_generator): improve commit command workflow by processing diffs individually
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

refactor(generator): improve binary file detection and handling
  src/codemap/git/commit_generator/generator.py
Due: pre-commit-tasks, pytest

chore(prompts): update prompt templates
  src/codemap/git/commit_generator/prompts.py
Due: pre-commit-tasks, pytest

refactor(utils): update commit linter to use dependency injection
  src/codemap/git/commit_generator/utils.py
Due: pre-commit-tasks, pytest

feat(commit_linter): add create_linter function for config injection
  src/codemap/git/commit_linter/__init__.py
Due: pre-commit-tasks, pytest

refactor(config): update config loader integration
  src/codemap/git/commit_linter/config.py
Due: pre-commit-tasks, pytest

refactor(linter): inject config loader into commitlinter
  src/codemap/git/commit_linter/linter.py
Due: pre-commit-tasks, pytest

refactor(splitter): improve diff splitting logic
  src/codemap/git/diff_splitter/splitter.py
Due: pre-commit-tasks, pytest

refactor(diff_splitter): improve diff splitting logic
  src/codemap/git/diff_splitter/strategies.py
Due: pre-commit-tasks, pytest

feat(git): add untracked status to gitdiff
  src/codemap/git/utils.py
Due: pre-commit-tasks, pytest

refactor(file_utils): remove is_text_file function
  src/codemap/utils/file_utils.py
Due: pre-commit-tasks, pytest

refactor(tests): remove test_generate_commit_message method
  tests/git/commit/test_commit_workflow.py
Due: pre-commit-tasks, pytest

test(diff_splitter): add test for splitting diff with untracked files
  tests/git/diff_splitter/test_splitter.py
Due: pre-commit-tasks, pytest

test(diff_splitter): update test strategies for untracked files
  tests/git/diff_splitter/test_strategies.py
Due: pre-commit-tasks, pytest

feat(taskfile): add vulture task to find unused code
  Taskfile.yml
Due: none

chore(dev): add vulture to dev dependencies
  pyproject.toml
Due: uv-sync

chore(pre-commit): update pre-commit checks to only run checks
  Taskfile.yml
Due: none

chore: removed unnecesary hooks
  .pre-commit-config.yaml
Due: none

chore(lock): update lock file
  uv.lock
Due: uv-sync

feat(dependencies): add scikit-learn dependency
  pyproject.toml
Due: uv-sync

test(git): add test cases for git commit and diff splitter
  tests/git/commit/test_commit.py
  tests/git/commit/test_commit_cmd.py
  tests/git/pr/test_pr_command.py
Due: pre-commit-tasks, pytest

refactor(update_api_docs): improve api reference section handling
  scripts/update_api_docs.py
Due: pre-commit-tasks, pytest

feat(diff_splitter): make diffchunk hashable and comparable
  src/codemap/git/diff_splitter/schemas.py
Due: pre-commit-tasks, pytest

chore(config): remove commitlint config
  .commitlintrc
Due: none

docs(prompts.py): update prompts to request json output
  src/codemap/git/commit_generator/prompts.py
Due: pre-commit-tasks, pytest

chore(config): update commit strategy to semantic
  .codemap.yml
Due: none

feat(config): add llm config options
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor(api): remove message trimming
  src/codemap/llm/api.py
Due: pre-commit-tasks, pytest

test(tests): add init file for semantic grouping tests
  tests/git/semantic_grouping/__init__.py
Due: pre-commit-tasks, pytest

feat(pr_generator): add workflow strategy class
  src/codemap/git/pr_generator/strategies.py
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

feat(cli_utils): add keyboard interrupt handling
  src/codemap/utils/cli_utils.py
Due: pre-commit-tasks, pytest

refactor(cli): refactor cli commands
  src/codemap/cli/__init__.py
  src/codemap/cli/ask_cmd.py
  src/codemap/cli/commit_cmd.py
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/index_cmd.py
  src/codemap/cli/pr_cmd.py
  src/codemap/git/commit_generator/command.py
  src/codemap/git/commit_generator/utils.py
  src/codemap/git/pr_generator/command.py
Due: pre-commit-tasks, pytest

refactor(commit_generator): refactor commit message generator to improve code quality
  src/codemap/git/commit_generator/generator.py
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/interactive.py
  src/codemap/git/semantic_grouping/__init__.py
  src/codemap/git/semantic_grouping/clusterer.py
  src/codemap/git/semantic_grouping/context_processor.py
  src/codemap/git/semantic_grouping/embedder.py
  src/codemap/git/semantic_grouping/group.py
  src/codemap/git/semantic_grouping/resolver.py
  tests/git/semantic_grouping/test_context_processor.py
  tests/git/semantic_grouping/test_embedder.py
  tests/git/semantic_grouping/test_group.py
  tests/git/semantic_grouping/test_resolver.py
Due: pre-commit-tasks, pytest
