Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

feat(config): add configuration management utilities
  src/codemap/utils/config_loader.py
  src/codemap/utils/config_manager.py
  src/codemap/utils/directory_manager.py
  src/codemap/utils/log_setup.py
  src/codemap/utils/package_utils.py
Due: pre-commit-tasks, pytest

chore(docs): remove markdown generator
  src/codemap/generators/__init__.py
  src/codemap/generators/markdown_generator.py
Due: pre-commit-tasks, pytest

chore(tests): remove deleted test files
  tests/processor/analysis/test_lsp_analyzer.py
  tests/processor/analysis/test_lsp_integration.py
  tests/processor/chunking/__init__.py
  tests/processor/chunking/test_regexp_chunker.py
  tests/processor/chunking/test_semantic_chunking.py
Due: pre-commit-tasks, pytest

chore(tests): remove unused test files
  tests/processor/analysis/test_analyzer_processor.py
  tests/processor/analysis/test_tree_parser.py
Due: pre-commit-tasks, pytest

chore(cli)!: remove daemon command and related functionality
  src/codemap/cli/__init__.py
  src/codemap/cli/daemon_cmd.py
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/init_cmd.py
Due: pre-commit-tasks, pytest

test(commit_lint): update commit linting rules for case validation
  tests/git/commit/test_commit.py
  tests/git/commit/test_commit_cmd.py
Due: pre-commit-tasks, pytest

refactor(commit_linter): update commit linter configuration
  src/codemap/git/commit_linter/config.py
  src/codemap/git/commit_linter/linter.py
  src/codemap/utils/log_setup.py
Due: pre-commit-tasks, pytest

feat(api): add support for Unix socket connections
  src/codemap/daemon/api_server.py
  src/codemap/daemon/client.py
  src/codemap/daemon/service.py
Due: pre-commit-tasks, pytest

feat(dependencies): add required dependencies for project
  pyproject.toml
Due: uv-sync

feat(gen): add entity relationship diagram and code documentation generation
  src/codemap/cli/gen_cmd.py
  src/codemap/config.py
  src/codemap/gen/command.py
  src/codemap/gen/generator.py
Due: pre-commit-tasks, pytest

refactor(cli): refactor cli module imports
  tests/base.py
  tests/test_cli.py
  tests/test_cli_entry.py
  tests/test_init_cmd.py
  tests/test_main.py
Due: pre-commit-tasks, pytest

refactor(cli): improve imports organization and formatting
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

docs(codemap): update TODO list with completed tasks
  src/codemap/processor/TODO.md
Due: none

docs(README): update installation instructions
  README.md
  install.sh
Due: none

feat(config): update config loader to handle invalid values and nonexistent files
  tests/utils/test_config.py
Due: pre-commit-tasks, pytest

refactor(processor): extract embedding config and cache dir creation
  src/codemap/git/commit_generator/constants.py
Due: pre-commit-tasks, pytest

chore: remove unused files
  tests/processor/chunking/test_syntax_chunker_javascript.py
  tests/processor/chunking/test_syntax_chunker_python.py
  tests/processor/chunking/test_syntax_chunker_typescript.py
  tests/processor/test_lance_storage.py
  tests/processor/test_lod.py
Due: pre-commit-tasks, pytest

refactor(tests): update cli app import in test_pr_command.py
  tests/git/pr/test_pr_command.py
Due: pre-commit-tasks, pytest

refactor(commit): refactor commit workflow for better maintainability
  README.md
Due: none

feat(commit_generator): add intelligent Git commit message generation
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

feat(cli): add functionality for intelligent Git commits with AI-assisted message generation
  tests/git/commit/test_commit.py
  tests/git/commit/test_commit_cmd.py
  tests/git/commit/test_commit_linter.py
Due: pre-commit-tasks, pytest

feat(commit): add AI-assisted message generation for intelligent Git commits
  tests/git/commit/test_commit_workflow.py
Due: pre-commit-tasks, pytest

feat(commit): add intelligent Git commit message generation
  tests/git/pr/test_pr_command.py
Due: pre-commit-tasks, pytest

feat(cli): add intelligent Git commit message generation
  tests/git/test_git_command.py
Due: pre-commit-tasks, pytest

feat(cli): add intelligent Git commit message generation
  tests/test_cli.py
Due: pre-commit-tasks, pytest

feat: add function to commit command
  tests/utils/test_config.py
  tests/utils/test_file_utils.py
Due: pre-commit-tasks, pytest

refactor: refactor commit workflow for better maintainability
  src/codemap/processor/tree_sitter/TODO.md
Due: none

refactor(cli): refactor base branch selection logic
  src/codemap/cli/pr_cmd.py
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

refactor(pr): improve interactive base branch selection and pr creation
  tests/git/commit/test_commit_cmd.py
  tests/git/pr/test_pr_command.py
Due: pre-commit-tasks, pytest

chore(config): update codemap.yml configuration
  .codemap.yml
Due: none

test(pr_command): add unit tests for PR creation and update
  tests/git/pr/test_pr_command.py
Due: pre-commit-tasks, pytest

feat(pr_generator): add JSON output to create_pull_request function
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

fix(pr_generator): handle GitHub CLI errors and unexpected output
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

fix(pr_cmd): fix function parameter order in pr creation
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

test(pr_command): update test cases for branch and PR creation
  tests/git/pr/test_pr_command.py
Due: pre-commit-tasks, pytest

docs(cli): add alias note to help messages
  README.md
  pyproject.toml
  src/codemap/cli/__init__.py
Due: uv-sync, pre-commit-tasks, pytest

style(pyproject): update ruff lint ignores
  pyproject.toml
Due: uv-sync

fix(log): handle exception in environment info logging
  src/codemap/utils/log_setup.py
Due: pre-commit-tasks, pytest

style(linting): update ruff linting configuration
  tests/cli/__init__.py
  tests/cli/test_commit_cmd.py
  tests/cli/test_gen_cmd.py
Due: pre-commit-tasks, pytest

style(config): update ruff lint ignores
  tests/gen/__init__.py
  tests/gen/test_utils.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
