Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

refactor(pyproject): update codemap script reference
  pyproject.toml
Due: uv-sync

style(tests): update test code to remove unnecessary noqa comments
  tests/git/commit/test_conventional_commit_rules.py
Due: pre-commit-tasks, pytest

refactor(config_loader): refactor config loader for better structure and readability
  src/codemap/utils/config_loader.py
Due: pre-commit-tasks, pytest

chore(codemap): update TODO list for codemap processor
  src/codemap/processor/TODO.md
Due: none

feat: added type stubs for requests_unixsocket
  typings/requests_unixsocket/__init__.pyi
  typings/requests_unixsocket/adapters.pyi
  typings/requests_unixsocket/testutils.pyi
Due: none

refactor(logging): remove redundant rich logging imports
  tests/processor/analysis/__init__.py
  tests/processor/analysis/test_git_analyzer.py
Due: pre-commit-tasks, pytest

feat(deployment): add supervisor configuration and installation script
  deployment/supervisor/codemap.conf
  deployment/supervisor/install.sh
Due: none

chore(tests): remove unused test files
  tests/processor/test_pipeline.py
  tests/processor/test_watcher.py
  tests/test_init_cmd.py
  tests/utils/storage_utils.py
Due: pre-commit-tasks, pytest

feat(lod): Implement Level of Detail (LOD) generation for code analysis
  src/codemap/processor/embedding/generator.py
  src/codemap/processor/embedding/models.py
  src/codemap/processor/lod.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/storage/__init__.py
Due: pre-commit-tasks, pytest

docs(todo): update todo list
  src/codemap/processor/TODO.md
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

docs(terminal): update terminal documentation with new package management commands
  .cursor/rules/terminal.mdc
Due: none

refactor(cli_app): update daemon command import and registration
  src/codemap/cli_app.py
Due: pre-commit-tasks, pytest

refactor(cli): refactor cli module imports
  src/codemap/__main__.py
  src/codemap/cli_app.py
Due: pre-commit-tasks, pytest

docs(deployment): add deployment documentation for CodeMap daemon
  deployment/README.md
Due: none

refactor(cli): update type checking for commit command
  src/codemap/cli/commit_cmd.py
Due: pre-commit-tasks, pytest

feat(cli): add options for initial scan and daemon service
  src/codemap/cli/init_cmd.py
Due: pre-commit-tasks, pytest

feat(dependency): add requests-unixsocket dependency
  pyproject.toml
Due: uv-sync

feat(gen): add support for mermaid configuration
  src/codemap/cli/gen_cmd.py
  src/codemap/config.py
  src/codemap/gen/generator.py
  src/codemap/gen/models.py
Due: pre-commit-tasks, pytest

refactor(processor): extract embedding config and cache dir creation
  tests/processor/chunking/test_semantic_chunking.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor syntax handlers to extract function calls
  src/codemap/processor/tree_sitter/languages/base.py
  src/codemap/processor/tree_sitter/languages/javascript.py
  src/codemap/processor/tree_sitter/languages/python.py
  src/codemap/utils/file_utils.py
Due: pre-commit-tasks, pytest

chore(deployment): remove systemd service files
  deployment/systemd/codemap.service
  deployment/systemd/install.sh
Due: none

feat(processor): add initialize_processor function and update pipeline
  src/codemap/processor/__init__.py
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

chore(taskfile): update pre-commit task to use ruff format
  Taskfile.yml
Due: none

refactor(diff_splitter): update embedding model and improve large file handling
  Taskfile.yml
Due: none

feat(tree-sitter): add tree-sitter based code analysis
  src/codemap/processor/storage/base.py
  src/codemap/processor/storage/lance.py
  src/codemap/processor/storage/utils.py
  src/codemap/processor/tree_sitter/__init__.py
  src/codemap/processor/tree_sitter/analyzer.py
Due: pre-commit-tasks, pytest

feat(cli_utils): add standardized progress indicator
  src/codemap/utils/cli_utils.py
Due: pre-commit-tasks, pytest

chore(tests): remove test file
  tests/utils/test_file_filters.py
Due: pre-commit-tasks, pytest

docs(codemap/processor): add README.md for CodeMap Processor Module
  src/codemap/processor/README.md
  src/codemap/processor/TODO.md
Due: none

fix: add type stubs for daemon and lockfile
  typings/daemon/__init__.pyi
  typings/daemon/daemon.pyi
  typings/daemon/pidfile.pyi
  typings/lockfile/__init__.pyi
  typings/lockfile/linklockfile.pyi
  typings/lockfile/mkdirlockfile.pyi
  typings/lockfile/pidlockfile.pyi
  typings/lockfile/sqlitelockfile.pyi
  typings/lockfile/symlinklockfile.pyi
Due: none

refactor(cli): refactor commit command processing logic
  src/codemap/cli/commit_cmd.py
Due: pre-commit-tasks, pytest

chore: add gitignore for codemap cache
  .codemap_cache/.gitignore
Due: none

chore: remove unused code
  src/codemap/processor/chunking/__init__.py
  src/codemap/processor/chunking/base.py
  src/codemap/processor/chunking/reg_exp.py
  src/codemap/processor/chunking/tree_sitter.py
  src/codemap/processor/embedding/__init__.py
Due: pre-commit-tasks, pytest

feat(config): update embedding model and dependencies
  pyproject.toml
Due: uv-sync

feat(daemon): add CodeMap daemon with API server and client
  src/codemap/daemon/__init__.py
  src/codemap/daemon/api_server.py
  src/codemap/daemon/client.py
  src/codemap/daemon/command.py
  src/codemap/daemon/service.py
Due: pre-commit-tasks, pytest

feat(cli): add configuration wizard to init command
  src/codemap/cli/__init__.py
  src/codemap/cli/init_cmd.py
Due: pre-commit-tasks, pytest

feat(cli): add standardized error and warning display functions
  src/codemap/utils/cli_utils.py
  src/codemap/utils/log_setup.py
Due: pre-commit-tasks, pytest

refactor(tests): update test cases for commit and PR generation
  tests/git/commit/test_commit_linter.py
  tests/git/commit/test_commit_workflow.py
  tests/git/commit/test_conventional_commit_rules.py
  tests/git/pr/test_pr_command.py
  tests/processor/test_lod.py
Due: pre-commit-tasks, pytest

feat(embedding): add cache directory configuration to embedding generator
  src/codemap/processor/embedding/generator.py
Due: pre-commit-tasks, pytest

feat(codemap): add code documentation generation based on LOD
  src/codemap/gen/compressor.py
  src/codemap/gen/generator.py
  src/codemap/gen/models.py
  src/codemap/git/commit_generator/command.py
  src/codemap/git/diff_splitter/constants.py
Due: pre-commit-tasks, pytest

chore(deps): update dependencies
  uv.lock
Due: uv-sync
