Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

chore(config): update project configuration
  CHANGELOG.md
  pyproject.toml
Due: uv-sync

chore: fix release configuration
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/codemap/__init__.py
Due: uv-sync, pre-commit-tasks, pytest

refactor(config): update cache directory handling and configuration
  src/codemap/processor/vector/client.py
  src/codemap/processor/vector/config.py
Due: pre-commit-tasks, pytest

refactor(config): refactor config and cache path handling
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor(processor/vector): refactor cache path utility functions
  tests/processor/vector/__init__.py
  tests/processor/vector/test_vector_chunker.py
  tests/processor/vector/test_vector_manager.py
Due: pre-commit-tasks, pytest

chore: remove CHANGELOG and reset version to 0.0.0
  CHANGELOG.md
  pyproject.toml
  src/codemap/__init__.py
Due: uv-sync, pre-commit-tasks, pytest

refactor(config): refactor config loading and cache directory handling
  tests/processor/tree_sitter/__init__.py
  tests/processor/tree_sitter/test_analyzer.py
Due: pre-commit-tasks, pytest

refactor(kuzu): update error handling for table creation
  tests/processor/test_kuzu_manager.py
  tests/processor/test_pipeline.py
Due: pre-commit-tasks, pytest

test(cli): update test cases for gen command
  tests/cli/test_gen_cmd.py
  tests/gen/test_command.py
  tests/utils/test_path_utils.py
Due: pre-commit-tasks, pytest

refactor(graph): update cache directory handling and database configuration
  tests/processor/graph/__init__.py
  tests/processor/graph/test_graph_synchronizer.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor cache path resolution and add vector db file name constant
  src/codemap/utils/path_utils.py
Due: pre-commit-tasks, pytest

chore: reset version to 0.0.0 and update changelog configuration
  CHANGELOG.md
  pyproject.toml
  src/codemap/__init__.py
  uv.lock
Due: uv-sync, pre-commit-tasks, pytest

refactor(config): update cache directory configuration and improve error handling
  pyproject.toml
Due: uv-sync

refactor(graph): update graph builder and kuzu manager for robustness
  src/codemap/processor/graph/graph_builder.py
  src/codemap/processor/graph/kuzu_manager.py
Due: pre-commit-tasks, pytest

chore: updated deps and changed lint config for the ai_models directory
  uv.lock
Due: uv-sync

refactor(pipeline): refactor processing pipeline for robustness and efficiency
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

chore(version): synced version with dev
  pyproject.toml
  uv.lock
Due: uv-sync

chore(changelog): add initial CHANGELOG file from dev
  CHANGELOG.md
Due: none

feat: add unidiff dependency for diff operations
  pyproject.toml
  uv.lock
Due: uv-sync

feat(config): add diff splitter configuration to default config
  src/codemap/config.py
Due: pre-commit-tasks, pytest

docs: update commit message generation prompt template
  src/codemap/git/commit_generator/prompts.py
Due: pre-commit-tasks, pytest

refactor: Refactor imports and remove unused constants
  src/codemap/git/diff_splitter/__init__.py
  src/codemap/git/diff_splitter/constants.py
  src/codemap/git/diff_splitter/splitter.py
Due: pre-commit-tasks, pytest

refactor: Refactor DiffSplitter tests to use new are_sentence_transformers_available and is_model_available methods
  tests/git/diff_splitter/test_splitter.py
  tests/git/diff_splitter/test_strategies.py
  tests/git/diff_splitter/test_utils.py
Due: pre-commit-tasks, pytest

refactor(diff_splitter): enhance semantic splitting strategy and improve diff parsing
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/diff_splitter/utils.py
Due: pre-commit-tasks, pytest

refactor: refactor commit command to simplify and improve code quality
  src/codemap/cli/commit_cmd.py
Due: pre-commit-tasks, pytest

refactor((commit_generator)): Improve fallback commit message generation and handling
  src/codemap/git/commit_generator/__init__.py
  src/codemap/git/commit_generator/command.py
  src/codemap/git/commit_generator/generator.py
Due: pre-commit-tasks, pytest

refactor: simplify type imports and remove unused code
  src/codemap/git/commit_generator/schemas.py
  src/codemap/git/commit_generator/utils.py
Due: pre-commit-tasks, pytest

refactor(pr_cmd): update generator function call
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

style: update maximum length for commit message subject line
  .codemap.yml
Due: none

feat(command): add support for re-linting and explicit user actions on lint failures
  src/codemap/git/commit_generator/command.py
  src/codemap/git/commit_generator/generator.py
  src/codemap/git/commit_generator/prompts.py
Due: pre-commit-tasks, pytest

refactor(commit_generator): improve multi-line message processing
  src/codemap/git/commit_generator/utils.py
Due: pre-commit-tasks, pytest

style(constants): allow underscore in scope regex
  src/codemap/git/commit_linter/constants.py
Due: pre-commit-tasks, pytest

refactor(interactive): refactor chunkaction enum and related methods for better user experience
  src/codemap/git/interactive.py
  src/codemap/git/utils.py
Due: pre-commit-tasks, pytest

feat: move process_chunk_interactively to commitcommand class
  tests/git/commit/test_commit.py
  tests/git/commit/test_commit_cmd.py
  tests/git/commit/test_commit_generator.py
Due: pre-commit-tasks, pytest

refactor: update test_process_chunk to use commit action
  tests/git/commit/test_commit_interactive.py
  tests/git/commit/test_commit_workflow.py
Due: pre-commit-tasks, pytest

refactor(tests/llm): update import statements and class references
  tests/llm/test_llm_integration.py
Due: pre-commit-tasks, pytest

docs(diff_splitter): add missing documentation for methods and improve documentation strings
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/diff_splitter/strategies.py
Due: pre-commit-tasks, pytest

style(pyproject): update ruff lint ignores
  pyproject.toml
Due: uv-sync

refactor: remove related_file_patterns from constants and strategies
  src/codemap/git/diff_splitter/constants.py
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/diff_splitter/strategies.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
