Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

refactor(git): improve git utilities and update dependencies
  Taskfile.yml
  pyproject.toml
  src/codemap/git/pr_generator/pr_git_utils.py
Due: uv-sync, pre-commit-tasks, pytest

refactor(db): refactor database client initialization and error handling
  src/codemap/cli/gen_cmd.py
  src/codemap/config/config_loader.py
  src/codemap/db/client.py
  src/codemap/gen/generator.py
  src/codemap/gen/utils.py
  src/codemap/git/commit_generator/command.py
  src/codemap/git/commit_linter/config.py
  src/codemap/git/commit_linter/parser.py
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/pr_generator/command.py
  src/codemap/git/semantic_grouping/clusterer.py
  src/codemap/git/semantic_grouping/embedder.py
  src/codemap/llm/api.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/processor/hash_calculation.py
  src/codemap/processor/lod.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/tree_sitter/analyzer.py
  src/codemap/processor/tree_sitter/languages/base.py
  src/codemap/processor/vector/chunking.py
  src/codemap/processor/vector/qdrant_manager.py
  src/codemap/processor/vector/synchronizer.py
  src/codemap/utils/cli_utils.py
  src/codemap/utils/docker_utils.py
  src/codemap/utils/path_utils.py
Due: pre-commit-tasks, pytest

feat(pr-cmd, commit-generator): handle None action and improve prompts
  src/codemap/cli/pr_cmd.py
  src/codemap/git/commit_generator/prompts.py
Due: pre-commit-tasks, pytest

chore: update LLM model to Gemini 2.0 Flash
  .codemap.yml
Due: none

chore: update embedding model to improve accuracy
  .codemap.yml
Due: none

perf(git): optimize commit generation for single-file changes
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

refactor(pipeline): ensure ConfigLoader is always available
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

chore(uv.lock): upgrade pydantic-ai and pydantic-ai-slim dependencies
  uv.lock
Due: uv-sync

chore: upgrade pydantic-ai version
  pyproject.toml
Due: uv-sync

feat(config): add dimension to embedding config
  .codemap.yml
Due: none

feat(llm): integrate code retrieval tool for semantic context
  src/codemap/llm/rag/ask/command.py
  src/codemap/llm/rag/tools/retrieval.py
Due: pre-commit-tasks, pytest

feat(llm): add support for tools in LLM client and API
  src/codemap/llm/api.py
  src/codemap/llm/client.py
Due: pre-commit-tasks, pytest

perf(rag): reduce max context results
  .codemap.yml
Due: none

feat(processor): implement singleton pattern and improve search results
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

feat(rag): improve code retrieval context and validation
  src/codemap/config/config_schema.py
  src/codemap/llm/rag/tools/retrieval.py
Due: pre-commit-tasks, pytest

docs(docs): restructure tools documentation for clarity
  docs/api/llm/rag/tools/index.md
  docs/api/llm/rag/tools/retrieval.md
Due: none

chore: upgrade codemap to 0.3.1rc1
  uv.lock
Due: uv-sync

feat(docs): add retrieval page to tools nav
  mkdocs.yml
Due: none

refactor(config): improve LOD level handling and add mermaid styling
  src/codemap/cli/gen_cmd.py
  src/codemap/config/config_schema.py
Due: pre-commit-tasks, pytest

fix(gen): ensure output directory is a string
  tests/gen/test_command.py
Due: pre-commit-tasks, pytest

refactor(codemap): improve config loading and schema usage
  src/codemap/gen/command.py
  src/codemap/processor/hash_calculation.py
Due: pre-commit-tasks, pytest

refactor(python): improve python type alias and constant detection
  src/codemap/processor/tree_sitter/languages/python.py
Due: pre-commit-tasks, pytest

fix(tree-sitter): prevent double-processing of tree-sitter nodes
  src/codemap/processor/tree_sitter/analyzer.py
Due: pre-commit-tasks, pytest

test(test-generator): improve style assertion and shorten node IDs
  tests/gen/test_generator.py
Due: pre-commit-tasks, pytest

chore(config): enable entity graph and remove unconnected nodes
  .codemap.yml
Due: none

chore(codemap): remove GenConfig from __all__
  src/codemap/gen/__init__.py
Due: pre-commit-tasks, pytest

refactor(generator): improve mermaid diagram readability
  src/codemap/gen/generator.py
Due: pre-commit-tasks, pytest

feat(lod): store file path for all entities and mark root
  src/codemap/processor/lod.py
Due: pre-commit-tasks, pytest

chore(gen): remove unused models file
  src/codemap/gen/models.py
Due: pre-commit-tasks, pytest

chore(config): update lod-level to skeleton for concise output
  .codemap.yml
  src/codemap/config/default_config_template.py
Due: pre-commit-tasks, pytest

feat(lod): enhance module name and LOD level config
  src/codemap/processor/lod.py
Due: pre-commit-tasks, pytest

feat(codemap): enhance code documentation and subgraph rendering
  src/codemap/gen/generator.py
Due: pre-commit-tasks, pytest

feat(config): add skeleton level of detail to code generation
  src/codemap/config/config_schema.py
Due: pre-commit-tasks, pytest

refactor(generator): remove output path from CodeMapGenerator
  src/codemap/gen/generator.py
  tests/gen/test_generator.py
Due: pre-commit-tasks, pytest

refactor(command): remove output path from generator initialization
  tests/gen/test_command.py
Due: pre-commit-tasks, pytest

refactor(codemap): remove output path from CodeMapGenerator
  src/codemap/gen/command.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor codebase generation and retrieval
  src/codemap/gen/command.py
  src/codemap/gen/utils.py
  src/codemap/llm/rag/tools/read_file.py
  src/codemap/llm/rag/tools/semantic_retrieval.py
Due: pre-commit-tasks, pytest

chore(codemap): remove retrieval tool
  src/codemap/llm/rag/tools/retrieval.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
