Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

refactor(git): simplify git command execution and error handling
  src/codemap/git/commit_generator/command.py
  src/codemap/git/diff_splitter/utils.py
  src/codemap/git/utils.py
  tests/git/test_git_utils.py
Due: pre-commit-tasks, pytest

fix: remove pandas dependency
  pyproject.toml
Due: uv-sync

chore(lockfile): update lockfile
  uv.lock
Due: uv-sync

feat(codemap): improve diff splitter and git utils
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/pr_generator/pr_git_utils.py
Due: pre-commit-tasks, pytest

refactor(utils): simplify generate_pr_title_with_llm function
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

test(tests): update test fixtures and utils
  tests/conftest.py
  tests/git/diff_splitter/test_utils.py
  tests/git/pr/test_pr_command.py
  tests/git/pr/test_pr_generator_command.py
  tests/git/pr/test_pr_utils.py
Due: pre-commit-tasks, pytest

test(tests): update test utils and pr generator command
  tests/git/diff_splitter/test_utils.py
  tests/git/pr/test_pr_generator_command.py
  tests/git/pr/test_pr_utils.py
Due: pre-commit-tasks, pytest

refactor(tests): update test_pr_command
  tests/git/pr/test_pr_command.py
Due: pre-commit-tasks, pytest

refactor(pr_git_utils): remove trailing newline
  src/codemap/git/pr_generator/pr_git_utils.py
Due: pre-commit-tasks, pytest

test(tests): enhance repo path validation tests
  tests/git/test_git_utils.py
Due: pre-commit-tasks, pytest

test(tests): improve repo root retrieval tests
  tests/git/test_git_utils.py
Due: pre-commit-tasks, pytest

test(git): add patch stopall calls
  tests/git/test_git_utils.py
Due: pre-commit-tasks, pytest

test(git): add skip git tests marker
  tests/conftest.py
  tests/git/test_git_utils.py
Due: pre-commit-tasks, pytest

chore: autofix lint errors
  tests/git/test_git_utils.py
Due: pre-commit-tasks, pytest

feat(dependencies): add pygithub dependency
  pyproject.toml
Due: uv-sync

refactor(pr_generator): refactor utils to improve performance
  src/codemap/config/config_loader.py
  src/codemap/config/config_schema.py
  src/codemap/git/pr_generator/utils.py
  tests/git/pr/test_pr_utils.py
Due: pre-commit-tasks, pytest

chore(config): update env example file
  .env.example
Due: none

chore(lockfile): update lock file
  uv.lock
Due: uv-sync

feat(git): add git hook support
  src/codemap/git/pr_generator/pr_git_utils.py
  src/codemap/git/utils.py
  src/codemap/utils/git_hooks.py
Due: pre-commit-tasks, pytest

feat(codemap): update commit strategy to semantic
  .codemap.yml
  src/codemap/config/default_config_template.py
Due: pre-commit-tasks, pytest

feat(pr_cmd): add bypass hooks option to push branch
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

fix(pr_generator): narrow exception handling in get_existing_pr
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

fix(pr_generator): simplify exception handling in get_existing_pr
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

feat(pr_cmd): add interactive PR selection
  src/codemap/cli/pr_cmd.py
  src/codemap/git/pr_generator/utils.py
Due: pre-commit-tasks, pytest

refactor(pr_cmd): improve pr update logic
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

feat(pr_cmd): add interactive review step to pr command
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

docs(prompts.py): update prompts documentation
  src/codemap/git/pr_generator/prompts.py
Due: pre-commit-tasks, pytest

docs: updated all docs to match implementation
  docs/acknowledgements.md
  docs/api/git/pr_generator/index.md
  docs/api/git/pr_generator/pr_git_utils.md
  docs/api/processor/utils/index.md
  docs/api/utils/git_hooks.md
  docs/api/utils/git_utils.md
  docs/api/utils/index.md
  docs/index.md
  docs/usage/ask.md
  docs/usage/commit.md
  docs/usage/configuration.md
  docs/usage/generate.md
  docs/usage/index.md
  docs/usage/index_cmd.md
  docs/usage/llm-support.md
  docs/usage/pr.md
  mkdocs.yml
Due: none

chore(auth_todo): remove outdated authentication documentation
  src/codemap/git/pr_generator/auth_todo.md
Due: none

chore(docs): enhance README with new features and installation instructions
  .gitignore
  README.md
Due: none

chore: updated uv.lock
  uv.lock
Due: uv-sync

ci: enhance release workflow with documentation updates
  .github/workflows/release.yml
Due: none

feat(tree-sitter): scripts to discover and fetch tree-sitter grammar files
  scripts/discover_scm_files.py
  scripts/sync_scm_files.py
Due: pre-commit-tasks, pytest

chore: auto-generated/fetched files
  src/codemap/processor/tree_sitter/schema/languages/json/extension-map.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/agda.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/bash.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/c-sharp.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/c.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/cpp.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/css.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/embedded-template.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/go.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/haskell.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/html.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/java.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/javascript.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/jsdoc.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/json.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/julia.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ocaml.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/php.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/python.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ql-dbscheme.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ql.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/regex.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ruby.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/rust.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/scala.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/swift.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/toml.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/tsq.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/typescript.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/verilog.json
  src/codemap/processor/tree_sitter/schema/languages/json/sources.json
Due: none

refactor(tree-sitter): refactor tree-sitter schema generation
  scripts/tree-sitter/__init__.py
  scripts/tree-sitter/fetch_grammar_sources.py
  scripts/tree-sitter/gen_ts_schema.py
  scripts/tree-sitter/gen_ts_types.py
  scripts/tree-sitter/get_nodes.py
  src/codemap/processor/tree_sitter/TODO.md
  src/codemap/processor/tree_sitter/query_utils.py
  src/codemap/processor/tree_sitter/schema/__init__.py
  src/codemap/processor/tree_sitter/schema/entity/__init__.py
  src/codemap/processor/tree_sitter/schema/entity/base.py
  src/codemap/processor/tree_sitter/schema/entity/scope.py
  src/codemap/processor/tree_sitter/schema/entity/types.py
  src/codemap/processor/tree_sitter/schema/extractor.py
  src/codemap/processor/tree_sitter/schema/language_map.py
  src/codemap/processor/tree_sitter/schema/languages/__init__.py
  src/codemap/processor/tree_sitter/schema/languages/literals.py
  src/codemap/processor/tree_sitter/schema/languages/schema.py
Due: pre-commit-tasks, pytest

chore: remove discover_scm_files script
  scripts/discover_scm_files.py
  scripts/sync_scm_files.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
