Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

chore(config): update taskfile
  Taskfile.yml
Due: none

chore(codemap): Update codemap.yml and add node annotations
  .codemap.yml
  scripts/tree-sitter/gen_lang_map.py
  scripts/tree-sitter/gen_schema_annotation.py
  scripts/utils.py
  src/codemap/processor/tree_sitter/schema/languages/json/node_annotations.json
  src/codemap/processor/tree_sitter/schema/languages/json/type_annotations.json
Due: pre-commit-tasks, pytest

chore(utils): update escape string function
  src/codemap/processor/tree_sitter/schema/languages/json/languages/agda.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/bash.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/c-sharp.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/c.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/cpp.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/css.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/embedded-template.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/haskell.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/html.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/java.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/jsdoc.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/json.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/julia.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ocaml.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ql-dbscheme.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ql.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/regex.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/ruby.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/scala.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/swift.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/toml.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/tsq.json
  src/codemap/processor/tree_sitter/schema/languages/json/languages/verilog.json
  src/codemap/processor/tree_sitter/schema/languages/literals.py
  src/codemap/processor/tree_sitter/schema/languages/schema.py
Due: pre-commit-tasks, pytest

refactor(entity): replace enums with literals
  src/codemap/processor/tree_sitter/schema/entity/scope.py
  src/codemap/processor/tree_sitter/schema/entity/types.py
Due: pre-commit-tasks, pytest

refactor(entity): refactor entity schema for better code organization
  src/codemap/processor/tree_sitter/schema/entity/__init__.py
  src/codemap/processor/tree_sitter/schema/entity/base.py
  src/codemap/processor/tree_sitter/schema/language_map.py
Due: pre-commit-tasks, pytest

refactor(tree-sitter): refactor tree-sitter scripts and schema extractor
  scripts/tree-sitter/gen_ts_schema.py
  scripts/tree-sitter/gen_ts_types.py
  src/codemap/processor/tree_sitter/schema/extractor.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor entity schema extractor for better readability and performance
  src/codemap/processor/tree_sitter/TODO.md
  src/codemap/processor/tree_sitter/schema/entity/__init__.py
  src/codemap/processor/tree_sitter/schema/entity/base.py
  src/codemap/processor/tree_sitter/schema/entity/types.py
  src/codemap/processor/tree_sitter/schema/extractor.py
  src/codemap/processor/tree_sitter/schema/language_map.py
Due: pre-commit-tasks, pytest

feat(deps): update mypy to 1.15.0 and add dependency
  .codemap.yml
  src/codemap/processor/tree_sitter/code_struct.md
  src/codemap/processor/tree_sitter/schema/languages/json/language_map.json
  uv.lock
Due: uv-sync

build(deps): update mypy dependency to 1.15.0
  pyproject.toml
Due: uv-sync

feat(codemap): update language mappings for Python and Go
  src/codemap/processor/tree_sitter/schema/language_map.py
Due: pre-commit-tasks, pytest

feat(codemap): enhance language mapping generation with LLM integration
  scripts/tree-sitter/gen_lang_map.py
Due: pre-commit-tasks, pytest

feat(vscode): add codestruct vscode extension configuration
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/LICENSE
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/README.md
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/codestruct-0.1.0.vsix
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/icons/fileicons/codemap.svg
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/icons/icons-theme.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/language-configuration.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package-lock.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/syntaxes/codemap.tmLanguage.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/syntaxes/codestruct.tmLanguage.json
  src/codemap/processor/tree_sitter/code_struct/implementation.md
  src/codemap/processor/tree_sitter/code_struct/index.md
Due: none

docs(codemap): update documentation for code struct and related files
  src/codemap/processor/tree_sitter/code_struct.md
  uv.lock
Due: uv-sync

docs(config): update mkdocs theme and color scheme
  docs/assets/codemap_logo.svg
  docs/assets/codemap_logo_white.svg
  docs/stylesheet/extra.css
  mkdocs.yml
Due: none

docs(codemap): update CodeStruct VS Code extension implementation plan
  src/codemap/processor/tree_sitter/code_struct/implementation.md
Due: none

chore(assets): update vsix package and icon image
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/codestruct-0.1.0.vsix
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/codestruct-0.1.1.vsix
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/images/icon.png
Due: none

chore(metadata): update package metadata and add icon
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package.json
Due: none

chore(assets): update codemap icons and remove old vsix file
  direct_parsed.cstxt
  scripts/codestruct_convert.py
  scripts/tree-sitter/direct_parser.py
  src/codemap/processor/tree_sitter/code_struct/__init__.py
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/codestruct-0.1.1.vsix
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/codestruct-0.1.4.vsix
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package.json
  src/codemap/processor/tree_sitter/code_struct/converter.py
Due: pre-commit-tasks, pytest

refactor(codestruct): update code structure conversion logic
  src/codemap/processor/tree_sitter/code_struct/index.md
  src/codemap/processor/tree_sitter/schema/extractor.py
Due: pre-commit-tasks, pytest

docs(codestruct): remove implementation plan for CodeStruct VS Code extension
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/syntaxes/codestruct.tmLanguage.json
  src/codemap/processor/tree_sitter/code_struct/implementation.md
Due: none

docs(config): update mkdocs theme and color scheme
  docs/assets/codemap_logo.svg
  docs/assets/codemap_logo_white.svg
  docs/stylesheet/extra.css
  mkdocs.yml
  src/codemap/processor/tree_sitter/code_struct/__init__.py
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/LICENSE
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/README.md
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/codestruct-0.1.4.vsix
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/icons/fileicons/codemap.svg
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/icons/icons-theme.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/images/icon.png
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/language-configuration.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package-lock.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/syntaxes/codemap.tmLanguage.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/syntaxes/codestruct.tmLanguage.json
  src/codemap/processor/tree_sitter/code_struct/index.md
Due: pre-commit-tasks, pytest

chore(config): update LLM and embedding model configurations
  .codemap.yml
Due: none

refactor(code_struct): remove CodeStruct notation converter module
  src/codemap/processor/tree_sitter/code_struct/__init__.py
Due: pre-commit-tasks, pytest

ci: add documentation deployment steps to release workflow
  .github/workflows/release.yml
Due: none

chore: moved codetruct to a separate repo
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/LICENSE
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/README.md
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/codestruct-0.1.4.vsix
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/icons/fileicons/codemap.svg
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/icons/icons-theme.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/images/icon.png
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/language-configuration.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package-lock.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/package.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/syntaxes/codemap.tmLanguage.json
  src/codemap/processor/tree_sitter/code_struct/codestruct-vscode/syntaxes/codestruct.tmLanguage.json
  src/codemap/processor/tree_sitter/code_struct/index.md
Due: none

refactor(tree_sitter): remove redundant language configurations
  src/codemap/processor/tree_sitter/TODO.md
  src/codemap/processor/tree_sitter/languages/base.py
Due: pre-commit-tasks, pytest

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

chore: removed pylint and isort, replaced pyright with pyrefly for type checking
  .pylintrc
  .vscode/settings.json
  Taskfile.yml
  pyproject.toml
  uv.lock
Due: uv-sync

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
