Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

style(resolver): fix docstring indentation
  src/codemap/git/semantic_grouping/resolver.py
Due: pre-commit-tasks, pytest

style(clusterer): fix indentation in diffclusterer docstrings
  src/codemap/git/semantic_grouping/clusterer.py
Due: pre-commit-tasks, pytest

refactor(command): improve commit command workflow
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

feat(interactive): add bypass linter option
  src/codemap/git/interactive.py
Due: pre-commit-tasks, pytest

feat(batch-processor): add batch processing for semantic groups
  src/codemap/git/commit_generator/command.py
  src/codemap/git/semantic_grouping/__init__.py
  src/codemap/git/semantic_grouping/batch_processor.py
  src/codemap/git/semantic_grouping/resolver.py
  tests/git/semantic_grouping/test_batch_processor.py
Due: pre-commit-tasks, pytest

fix(parser): resolve syntax error in query string
  src/codemap/llm/utils.py
  src/codemap/utils/config_loader.py
Due: pre-commit-tasks, pytest

fix(parser): resolve syntax error in parsing logic
  src/codemap/git/semantic_grouping/clusterer.py
Due: pre-commit-tasks, pytest

fix: resolve merge conflicts in documentation
  src/codemap/git/commit_generator/utils.py
  src/codemap/git/semantic_grouping/batch_processor.py
Due: pre-commit-tasks, pytest

fix(parser): resolve syntax error in function calls
  src/codemap/git/commit_generator/generator.py
Due: pre-commit-tasks, pytest

fix: resolve merge conflicts in documentation
  src/codemap/config.py
Due: pre-commit-tasks, pytest

fix: resolve bug in login functionality
  src/codemap/git/semantic_grouping/resolver.py
Due: pre-commit-tasks, pytest

fix(parser): resolve syntax error in variable declaration
  src/codemap/git/pr_generator/utils.py
  src/codemap/git/utils.py
Due: pre-commit-tasks, pytest

feat(utils): add support for simplified commit message format
  src/codemap/git/commit_generator/utils.py
Due: pre-commit-tasks, pytest

fix(parser): resolve parsing issue with special characters
  src/codemap/git/interactive.py
Due: pre-commit-tasks, pytest

feat(codemap): add support for message format
  src/codemap/git/commit_generator/utils.py
  src/codemap/git/semantic_grouping/batch_processor.py
Due: pre-commit-tasks, pytest

refactor(command.py): improve chunk creation and error handling in commitcommand
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

chore(dependencies): remove docformatter from dev dependencies
  pyproject.toml
  uv.lock
Due: uv-sync

chore(Taskfile): remove docformatter task from formatting pipeline
  Taskfile.yml
Due: none

docs: enhance docstrings across multiple modules for clarity and completeness.
  src/codemap/cli/pr_cmd.py
  src/codemap/db/client.py
  src/codemap/gen/generator.py
  src/codemap/gen/utils.py
  src/codemap/git/commit_linter/parser.py
  src/codemap/git/pr_generator/decorators.py
  src/codemap/git/semantic_grouping/context_processor.py
  src/codemap/processor/vector/chunking.py
  src/codemap/processor/vector/synchronizer.py
  src/codemap/utils/cli_utils.py
Due: pre-commit-tasks, pytest

chore: added interrogate badge to show docstring coverage
  README.md
  docs/assets/interrogate_badge.svg
  pyproject.toml
  uv.lock
Due: uv-sync

docs: autogenerated api docs
  docs/api/pre-release/git/semantic_grouping/batch_processor.md
  docs/api/pre-release/git/semantic_grouping/clusterer.md
  docs/api/pre-release/git/semantic_grouping/context_processor.md
  docs/api/pre-release/git/semantic_grouping/embedder.md
  docs/api/pre-release/git/semantic_grouping/group.md
  docs/api/pre-release/git/semantic_grouping/index.md
  docs/api/pre-release/git/semantic_grouping/resolver.md
  docs/api/stable/git/semantic_grouping/batch_processor.md
  docs/api/stable/git/semantic_grouping/clusterer.md
  docs/api/stable/git/semantic_grouping/context_processor.md
  docs/api/stable/git/semantic_grouping/embedder.md
  docs/api/stable/git/semantic_grouping/group.md
  docs/api/stable/git/semantic_grouping/index.md
  docs/api/stable/git/semantic_grouping/resolver.md
  mkdocs.yml
Due: none

feat(Taskfile): add documentation coverage badge generation and update coverage command
  Taskfile.yml
Due: none

Deployed f069ac9 to pre-release with MkDocs 1.6.1 and mike 2.1.3
  pre-release/api/processor/vector/qdrant_manager/index.html
  pre-release/search/search_index.json
Due: none

Removed latest with mike 2.1.3
  latest
  versions.json
Due: none

Removed pre-release with mike 2.1.3
  pre-release
  versions.json
Due: none

Set default version to latest with mike 2.1.3
  index.html
Due: none

Deployed f069ac9 to 0.1.0 with MkDocs 1.6.1 and mike 2.1.3
  0.1.0/api/processor/vector/qdrant_manager/index.html
  0.1.0/search/search_index.json
Due: none

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
