Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

chore(config): add bypass hooks option to codemap.yml docs(readme):..
  .codemap.yml
  README.md
Due: none

refactor(commit_cmd): handle git errors and add bypass hooks option
  src/codemap/cli/commit_cmd.py
Due: pre-commit-tasks, pytest

chore(config): add bypass_hooks option to commit strategy
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor(commit): add option to bypass git hooks
  src/codemap/git/command.py
Due: pre-commit-tasks, pytest

feat(config): add get_commit_hooks method
  src/codemap/utils/config_loader.py
  src/codemap/utils/git_utils.py
Due: pre-commit-tasks, pytest

test(unit): add test for git commit hook error handling
  tests/utils/test_git_utils.py
Due: pre-commit-tasks, pytest

test(commit): add test cases for bypass_hooks integration
  tests/test_commit_cmd.py
  tests/test_git_command.py
Due: pre-commit-tasks, pytest

test(config): add tests for commit hooks configuration
  tests/utils/test_config.py
Due: pre-commit-tasks, pytest

chore: update commit lint rules Add commit lint rules to match .comm..
  .codemap.yml
Due: none

build: update dev dependencies Add isort to dev dependencies to imp..
  pyproject.toml
Due: uv-sync

build: update dependencies Update uv.lock to include new dependency..
  uv.lock
Due: uv-sync

chore(vscode): update settings.json Update VSCode settings to inclu..
  .vscode/settings.json
Due: none

refactor(commit_cmd): update function documentation Update the docu..
  src/codemap/cli/commit_cmd.py
Due: pre-commit-tasks, pytest

feat(message_generator): add commit linting and regeneration The com..
  src/codemap/git/__init__.py
  src/codemap/git/command.py
  src/codemap/git/message_generator.py
Due: pre-commit-tasks, pytest

feat: add commit linter package This commit introduces a new package..
  src/codemap/git/commit_linter/__init__.py
  src/codemap/git/commit_linter/config.py
  src/codemap/git/commit_linter/constants.py
  src/codemap/git/commit_linter/linter.py
  src/codemap/git/commit_linter/parser.py
  src/codemap/git/commit_linter/validators.py
Due: pre-commit-tasks, pytest

refactor(llm_utils): simplify imports and handle LLM errors The com..
  src/codemap/utils/llm_utils.py
Due: pre-commit-tasks, pytest

test: add test cases for commit linter and message generation The co..
  tests/conftest.py
  tests/test_commit.py
  tests/test_commit_cmd.py
  tests/test_commit_linter.py
  tests/test_commit_workflow.py
  tests/test_conventional_commit_rules.py
Due: pre-commit-tasks, pytest

refactor(test): update test_llm_utils to use generate_message_with_li..
  tests/utils/test_llm_utils.py
Due: pre-commit-tasks, pytest

refactor(message_generator): update LLM API call to use JSON response format and add error handling
  src/codemap/git/message_generator.py
Due: pre-commit-tasks, pytest

feat(config): add pull request configuration options
  .codemap.yml
  README.md
Due: none

chore(config): update ruff linting configuration
  pyproject.toml
Due: uv-sync

refactor(cli): refactor PR creation and branch handling
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

feat(config): add pull request configuration
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor(message_generator): update commit message generation to follow conventional commits specification
  src/codemap/git/message_generator.py
Due: pre-commit-tasks, pytest

feat(utils): Implement workflow strategies and PR utilities
  src/codemap/utils/config_loader.py
  src/codemap/utils/pr_strategies.py
  src/codemap/utils/pr_utils.py
Due: pre-commit-tasks, pytest

test(pr_command): skip PR command integration tests
  tests/test_pr_command.py
Due: pre-commit-tasks, pytest

feat(tests/utils): add tests for PR workflow strategies and templates
  tests/utils/test_pr_strategies.py
  tests/utils/test_pr_templates.py
  tests/utils/test_pr_utils.py
Due: pre-commit-tasks, pytest

feat(config): update default base branch and feature prefix
  .codemap.yml
Due: none

refactor(pr_cmd): Improve default branch handling in PR creation
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

feat(pr_utils): add check for branch existence in get_branch_relation
  src/codemap/utils/pr_utils.py
Due: pre-commit-tasks, pytest

refactor(pr_cmd): Use config default branch if set, fallback to git default
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

feat(config_loader): add method to get default base branch
  src/codemap/utils/config_loader.py
Due: pre-commit-tasks, pytest

chore(config): update default base branch setting
  .codemap.yml
Due: none

chore(config): change hotfix base branch from 'main' to 'dev'
  .codemap.yml
Due: none

refactor(pr_cmd): improve default branch selection logic
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

fix(pr_utils): handle Git errors and edge cases in branch checks
  src/codemap/utils/pr_utils.py
Due: pre-commit-tasks, pytest

feat(config): update default base branch
  .codemap.yml
Due: none

fix(cli): handle errors during branch relation checks
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

refactor(pr_utils): Improve branch relation checks in get_branch_relation
  src/codemap/utils/pr_utils.py
Due: pre-commit-tasks, pytest

feat(cli): add loading indicator for branch analysis
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest
