Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: uv-sync
        name: uv sync
        language: system
        entry: uv sync
        pass_filenames: false
        files: ^(pyproject.toml|uv.lock)$
        
    -   id: pre-commit-tasks
        name: Run pre-commit tasks (format, lint, test)
        language: system
        entry: task pre-commit
        pass_filenames: false
        types: [python]
        # Run on both commit and push to ensure code quality
        stages: [pre-commit]

# Run tests before push (separate hook to avoid running tests on every commit)
-   repo: local
    hooks:
    -   id: pytest
        name: Run tests
        language: system
        entry: task pre-push
        pass_filenames: false
        types: [python]
        stages: [pre-push]

feat(codemap): update dependencies and add kuzu
  .codemap.yml
Due: none

feat(deps): add kuzu dependency and update LLM model
  .codemap.yml
Due: none

feat(dependencies): add kuzu dependency to pyproject.toml
  pyproject.toml
Due: uv-sync

chore(dependencies): add kuzu package and update metadata
  uv.lock
Due: uv-sync

chore: update codemap configuration
  .codemap.yml
Due: none

chore: remove README.md for CodeMap Processor module
  src/codemap/processor/README.md
Due: none

chore(llm): update model to meta-llama/llama-4-maverick-17b-128e-instruct
  .codemap.yml
Due: none

refactor(graph): restructure graph processing modules
  src/codemap/processor/graph/__init__.py
  src/codemap/processor/graph/graph_builder.py
  src/codemap/processor/graph/kuzu_manager.py
  src/codemap/processor/graph/models.py
  src/codemap/processor/graph/synchronizer.py
Due: pre-commit-tasks, pytest

chore(config): update LLM model and vector DB file name
  .codemap.yml
Due: none

refactor(graph): refactor kuzu manager and synchronizer for improved performance and readability
  src/codemap/processor/graph/kuzu_manager.py
  src/codemap/processor/graph/models.py
  src/codemap/processor/graph/synchronizer.py
Due: pre-commit-tasks, pytest

refactor(vector): refactor vector database synchronization process
  src/codemap/processor/vector/client.py
  src/codemap/processor/vector/config.py
  src/codemap/processor/vector/manager.py
Due: pre-commit-tasks, pytest

refactor(vector): refactor vector synchronization and database interactions
  src/codemap/processor/vector/search.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor kuzu and milvus clients to improve performance and readability
  src/codemap/processor/utils/__init__.py
  src/codemap/processor/utils/file_utils.py
  src/codemap/processor/utils/git_utils.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor utils for better code organization
  src/codemap/processor/utils/path_utils.py
  src/codemap/processor/utils/sync_utils.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor file utilities for better error handling
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor file utilities for better error handling
  src/codemap/gen/command.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor file utilities for better maintainability
  src/codemap/processor/graph/kuzu_manager.py
  src/codemap/processor/graph/synchronizer.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor file utilities for better maintainability
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor file utilities for better maintainability
  src/codemap/processor/utils/file_utils.py
  src/codemap/processor/utils/path_utils.py
Due: pre-commit-tasks, pytest

refactor(vector): refactor file utilities for text and binary checks
  src/codemap/processor/vector/client.py
  src/codemap/processor/vector/manager.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor file utilities for consistency and readability
  src/codemap/utils/file_utils.py
  src/codemap/utils/path_utils.py
Due: pre-commit-tasks, pytest

refactor(tests): rename get_git_root to find_project_root
  tests/utils/test_path_utils.py
Due: pre-commit-tasks, pytest

refactor(cli): refactor cli command processing for LOD generation
  src/codemap/cli/gen_cmd.py
Due: pre-commit-tasks, pytest

refactor(codemap): refactor LOD generation and processing pipeline for improved performance and readability
  src/codemap/gen/command.py
  src/codemap/gen/utils.py
Due: pre-commit-tasks, pytest

refactor(processor): refactor LOD generation and parallel processing
  src/codemap/processor/__init__.py
  src/codemap/processor/pipeline.py
Due: pre-commit-tasks, pytest

refactor(processor): parallelize LOD processing for performance
  src/codemap/processor/graph/kuzu_manager.py
  src/codemap/processor/graph/synchronizer.py
Due: pre-commit-tasks, pytest

refactor(utils): refactor LOD processing for improved parallelization and progress tracking
  src/codemap/processor/utils/git_utils.py
  src/codemap/processor/utils/sync_utils.py
Due: pre-commit-tasks, pytest

refactor(tests): remove unused ProcessingPipeline tests from LOD tests
  tests/cli/test_gen_cmd.py
  tests/processor/test_lod.py
Due: pre-commit-tasks, pytest

fix(utils): improve function documentation in file_utils and path_utils
  src/codemap/utils/file_utils.py
  src/codemap/utils/path_utils.py
Due: pre-commit-tasks, pytest

refactor(processor): enhance synchronize_vectors function to accept current Git state
  src/codemap/processor/vector/manager.py
Due: pre-commit-tasks, pytest

chore(ci): update release workflow configuration
  .github/workflows/release.yml
Due: none

chore(config): update project configuration
  CHANGELOG.md
  pyproject.toml
Due: uv-sync

chore: reset version to 0.0.0
  src/codemap/__init__.py
Due: pre-commit-tasks, pytest

chore: fix release configuration
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/codemap/__init__.py
Due: uv-sync, pre-commit-tasks, pytest

chore: revert to single-step release and enable debug logging
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/codemap/__init__.py
Due: uv-sync, pre-commit-tasks, pytest

chore: reset version to 0.0.0 and update changelog configuration
  CHANGELOG.md
  pyproject.toml
  src/codemap/__init__.py
  uv.lock
Due: uv-sync, pre-commit-tasks, pytest

chore: remove CHANGELOG and reset version to 0.0.0
  CHANGELOG.md
  pyproject.toml
  src/codemap/__init__.py
Due: uv-sync, pre-commit-tasks, pytest
