Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

feat: add ast-grep-py and tokencost dependencies
  pyproject.toml
Due: uv-sync

chore(llm): remove pattern search tool and ast-grep engine
  src/codemap/llm/rag/tools/pattern_search.py
  src/codemap/processor/semantic_search/engine.py
Due: pre-commit-tasks, pytest

feat(llm/rag/tools): enhance file search with flexible queries and content search
  src/codemap/llm/rag/tools/read_file.py
Due: pre-commit-tasks, pytest

chore: update lock file dependencies
  uv.lock
Due: uv-sync

test(semantic-search): remove test file for SearchResult class
  tests/processor/semantic_search/test_results.py
Due: pre-commit-tasks, pytest

refactor(rag): replace pattern and read file tools with search file tool
  src/codemap/llm/rag/ask/command.py
  src/codemap/llm/rag/tools/__init__.py
Due: pre-commit-tasks, pytest

refactor(processor): remove search result data structure
  src/codemap/processor/semantic_search/results.py
Due: pre-commit-tasks, pytest

chore(codemap): remove unused semantic search module
  src/codemap/processor/semantic_search/__init__.py
Due: pre-commit-tasks, pytest

chore(semantic-search): remove redundant module docstring
  tests/processor/semantic_search/__init__.py
Due: pre-commit-tasks, pytest

chore(test): remove test file for deprecated AstGrepEngine
  tests/processor/semantic_search/test_engine.py
Due: pre-commit-tasks, pytest

fix(semantic-retrieval): add type ignore comment to aiofiles
  src/codemap/llm/rag/tools/semantic_retrieval.py
Due: pre-commit-tasks, pytest

refactor(prompts): streamline the system prompt for clarity
  src/codemap/llm/rag/ask/prompts.py
Due: pre-commit-tasks, pytest

feat(git): capture and expose git hook output for better diagnostics
  src/codemap/git/utils.py
  src/codemap/utils/git_hooks.py
Due: pre-commit-tasks, pytest

feat(git): handle Git hook failures and prompt to bypass
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

refactor(git): improve error and hook failure messages
  src/codemap/git/interactive.py
Due: pre-commit-tasks, pytest

feat(all): enhance codebase functionality and improve code quality
  scripts/update_api_docs.py
  src/codemap/cli/pr_cmd.py
  src/codemap/db/models.py
  src/codemap/git/pr_generator/pr_git_utils.py
  src/codemap/git/pr_generator/strategies.py
  src/codemap/llm/api.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/llm/rag/tools/codebase_summary.py
  src/codemap/llm/rag/tools/read_file.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/tree_sitter/analyzer.py
  src/codemap/processor/tree_sitter/languages/javascript.py
  src/codemap/processor/utils/embedding_utils.py
  src/codemap/processor/vector/qdrant_manager.py
  src/codemap/utils/cli_utils.py
  src/codemap/watcher/file_watcher.py
  tests/base.py
  tests/llm/test_api.py
  tests/llm/test_client.py
  tests/processor/test_vector_synchronizer.py
  tests/utils/test_path_utils.py
Due: pre-commit-tasks, pytest

chore: update dependencies in uv.lock and pyproject.toml
  Taskfile.yml
  pyproject.toml
  uv.lock
Due: uv-sync

refactor(embedding): refactor embedding model and fix similarity calculation
  .codemap.yml
  src/codemap/git/semantic_grouping/resolver.py
Due: pre-commit-tasks, pytest

refactor(web-search): refactor imports for clarity
  src/codemap/llm/rag/tools/web_search.py
Due: pre-commit-tasks, pytest

chore(vscode): enable experimental completions
  .vscode/settings.json
Due: none

refactor(embedding): update embedding model
  .codemap.yml
Due: none

chore(ci): add names to CI workflow jobs
  .github/workflows/release.yml
Due: none

fix(release): add missing fi statement for conditional check
  .github/workflows/release.yml
Due: none

chore: upgrade codemap version to 0.3.1rc3
  uv.lock
Due: uv-sync

docs(docs): update RAG tools documentation and add codebase summary
  docs/api/llm/rag/index.md
  docs/api/llm/rag/tools/codebase_summary.md
  mkdocs.yml
Due: none

docs(docs): improve tools overview for RAG system
  docs/api/llm/rag/tools/index.md
Due: none

feat(embedding): add query instruction to embedding generation
  src/codemap/processor/pipeline.py
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
