Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

docs(llm/rag): update documentation
  docs/api/llm/rag/agents/index.md
  docs/api/llm/rag/ask/command.md
  docs/api/llm/rag/ask/formatter.md
  docs/api/llm/rag/ask/index.md
  docs/api/llm/rag/ask/prompts.md
  docs/api/llm/rag/do/index.md
  docs/api/llm/rag/index.md
  docs/api/llm/rag/tools/index.md
Due: none

docs(api): update config docs
  docs/api/config.md
  docs/api/utils/config_loader.md
Due: none

docs(api): update index and config docs
  docs/api/cli/conf_cmd.md
  docs/api/config/config_loader.md
  docs/api/config/config_schema.md
  docs/api/config/default_config_template.md
  docs/api/config/index.md
  docs/api/index.md
Due: none

chore: update codemap version
  uv.lock
Due: uv-sync

chore: update docs config
  docs/api/cli/index.md
  docs/api/llm/config.md
  docs/api/llm/index.md
  docs/api/utils/index.md
  mkdocs.yml
Due: none

ci(release): update workflow to trigger on specific paths for main and dev branches
  .github/workflows/release.yml
Due: none

feat(cli): add config command
  src/codemap/cli/__init__.py
Due: pre-commit-tasks, pytest

refactor(codemap): Remove progress updates
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/index_cmd.py
  src/codemap/gen/command.py
  src/codemap/gen/utils.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

refactor(cli_utils): Improve progress indicator management
  src/codemap/utils/cli_utils.py
  tests/utils/test_cli_utils.py
Due: pre-commit-tasks, pytest

refactor(docker_utils): update storage paths
  src/codemap/utils/docker_utils.py
Due: pre-commit-tasks, pytest

fix: update codemap version
  uv.lock
Due: uv-sync

test(tests): refactor progress indicator and spinner utilities
  tests/gen/test_command.py
  tests/utils/test_cli_utils.py
Due: pre-commit-tasks, pytest

chore(release): remove pull_request trigger from release workflow
  .github/workflows/release.yml
Due: none

ci: add sync-branch job to release workflow for main to dev sync
  .github/workflows/release.yml
Due: none

chore: update codemap version to 0.3.0rc4
  uv.lock
Due: uv-sync

refactor(prompts.py): simplify default prompt template
  src/codemap/git/commit_generator/prompts.py
Due: pre-commit-tasks, pytest

feat(codemap): add ask command functionality
  src/codemap/cli/ask_cmd.py
  src/codemap/llm/rag/__init__.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/llm/rag/ask/formatter.py
  src/codemap/llm/rag/interactive.py
  tests/llm/rag/test_formatter.py
Due: pre-commit-tasks, pytest

chore(tests): remove tests for llm rag module
  tests/llm/rag/__init__.py
Due: pre-commit-tasks, pytest

feat(codemap): update qdrant configuration
  src/codemap/processor/pipeline.py
  src/codemap/processor/vector/qdrant_manager.py
Due: pre-commit-tasks, pytest

fix(test_config): update embedding model name
  tests/utils/test_config.py
Due: pre-commit-tasks, pytest

feat(config): update embedding configuration
  .codemap.yml
  src/codemap/config/config_schema.py
  src/codemap/config/default_config_template.py
Due: pre-commit-tasks, pytest

refactor(tests): remove qdrant collection name
  tests/processor/test_qdrant_manager.py
Due: pre-commit-tasks, pytest

feat(embedding_utils): Improve embedding generation with async client and token limits
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest

fix(tests): update mock embedding model name
  tests/processor/test_vector_synchronizer.py
Due: pre-commit-tasks, pytest

fix(docker_utils): update qdrant storage path
  src/codemap/utils/docker_utils.py
Due: pre-commit-tasks, pytest

refactor(synchronizer): remove batch processing
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

refactor(embedder): replace generate_embeddings_batch with generate_embedding
  src/codemap/git/semantic_grouping/embedder.py
  src/codemap/processor/pipeline.py
  src/codemap/processor/vector/synchronizer.py
Due: pre-commit-tasks, pytest

feat(config): update embedding model
  .codemap.yml
  src/codemap/config/config_schema.py
Due: pre-commit-tasks, pytest

refactor(embedding_utils): remove voyageai client and refactor embedding generation
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest

chore(lock): update lock file
  pyproject.toml
  uv.lock
Due: uv-sync

fix(qdrant_manager): remove type ignore for PointStruct
  src/codemap/processor/vector/qdrant_manager.py
Due: pre-commit-tasks, pytest

refactor(codemap): simplify llm config handling
  src/codemap/llm/rag/ask/command.py
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest

chore(embedding_utils): remove unnecessary blank line
  src/codemap/processor/utils/embedding_utils.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
