Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

feat(config): update codemap configuration options
  .codemap.yml
  pyproject.toml
  uv.lock
Due: uv-sync

chore: update gitignore and codemap
  .codemap.yml
  .gitignore
  src/codemap/processor/analysis/tree_sitter/analyzer.py
  src/codemap/processor/analysis/tree_sitter/base.py
  src/codemap/processor/analysis/tree_sitter/languages/base.py
  src/codemap/processor/analysis/tree_sitter/languages/javascript.py
  src/codemap/processor/analysis/tree_sitter/languages/python.py
  src/codemap/processor/analysis/tree_sitter/languages/typescript.py
Due: pre-commit-tasks, pytest

refactor(config): extract embedding config to separate variable
  src/codemap/utils/config_manager.py
Due: pre-commit-tasks, pytest

feat(utils): add package utilities for management and updates
  src/codemap/utils/package_utils.py
Due: pre-commit-tasks, pytest

refactor(cli): refactor embedding config and cache initialization
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/init_cmd.py
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

feat(utils): add path utilities for handling file system operations
  src/codemap/utils/file_filters.py
  src/codemap/utils/path_utils.py
Due: pre-commit-tasks, pytest

feat(install): add easy install script and update documentation
  README.md
  install.sh
  pyproject.toml
  uv.lock
Due: uv-sync

refactor(cli): replace loading spinners with progress indicators
  src/codemap/cli/commit_cmd.py
  src/codemap/cli/daemon_cmd.py
  src/codemap/cli/generate_cmd.py
  src/codemap/cli/init_cmd.py
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

feat(Taskfile): add lint:fix-unsafe task to pre-commit hooks
  Taskfile.yml
Due: none

chore: update gitignore to exclude model files
  .gitignore
Due: none

feat(dependencies): add requests-unixsocket dependency
  uv.lock
Due: uv-sync

feat(models): optimize Qodo-Embed-1-1.5B model using Model2Vec
  models/qodo_embed_m2v/LICENSE
  models/qodo_embed_m2v/README.md
  models/qodo_embed_m2v/config.json
  models/qodo_embed_m2v/distill.py
  models/qodo_embed_m2v/evaluate.py
  models/qodo_embed_m2v/evaluation/memory_comparison.png
  models/qodo_embed_m2v/evaluation/similarity_matrix.png
  models/qodo_embed_m2v/evaluation/size_comparison.png
  models/qodo_embed_m2v/evaluation/speed_comparison.png
  models/qodo_embed_m2v/example.py
  models/qodo_embed_m2v/modules.json
Due: pre-commit-tasks, pytest

test(init_cmd): add test fixtures and improve test coverage
  tests/test_init_cmd.py
Due: pre-commit-tasks, pytest

feat(storage): add default configuration for LanceDB storage backend
  src/codemap/processor/storage/base.py
  src/codemap/processor/storage/lance.py
Due: pre-commit-tasks, pytest

feat(cli): add interactive base branch selection
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

chore(pre-commit): update pre-commit hooks to run on staged files only
  Taskfile.yml
Due: none

refactor(cli): refactor cli command generation
  src/codemap/cli/__init__.py
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/init_cmd.py
  src/codemap/cli/pkg_cmd.py
Due: pre-commit-tasks, pytest

refactor(codemap): extract embedding config and cache dir creation
  src/codemap/git/__init__.py
Due: pre-commit-tasks, pytest

refactor(codemap): extract embedding config and cache dir creation
  src/codemap/git/commit_generator/command.py
Due: pre-commit-tasks, pytest

refactor(cli): rename generate command to gen
  src/codemap/cli/__init__.py
  src/codemap/cli/gen_cmd.py
  src/codemap/cli/generate_cmd.py
  src/codemap/cli/init_cmd.py
Due: pre-commit-tasks, pytest

chore(daemon): remove daemon module
  src/codemap/daemon/__init__.py
  src/codemap/daemon/api_server.py
  src/codemap/daemon/client.py
  src/codemap/daemon/command.py
  src/codemap/daemon/service.py
Due: pre-commit-tasks, pytest

refactor(pr_cmd): refactor PR creation logic for better error handling and base branch determination
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

refactor(logging): remove rich logging import
  src/codemap/utils/directory_manager.py
  src/codemap/utils/log_setup.py
  src/codemap/utils/package_utils.py
Due: pre-commit-tasks, pytest

chore(analyzer): remove code analysis modules
  src/codemap/analyzer/__init__.py
  src/codemap/analyzer/processor.py
  src/codemap/analyzer/tree_parser.py
Due: pre-commit-tasks, pytest

refactor: refactor semantic splitting logic for better performance and readability
  src/codemap/git/diff_splitter/splitter.py
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/diff_splitter/utils.py
  src/codemap/git/interactive.py
  src/codemap/llm/config.py
Due: pre-commit-tasks, pytest

feat(config): add entity relationship graph and tree output
  .codemap.yml
Due: none

refactor(cli): update error handling and warnings
  src/codemap/cli/commit_cmd.py
  src/codemap/cli/daemon_cmd.py
  src/codemap/cli/generate_cmd.py
  src/codemap/cli/init_cmd.py
  src/codemap/cli/pkg_cmd.py
  src/codemap/cli/pr_cmd.py
Due: pre-commit-tasks, pytest

chore(lsp): remove unused LSP code
  src/codemap/processor/analysis/lsp/__init__.py
  src/codemap/processor/analysis/lsp/analyzer.py
  src/codemap/processor/analysis/lsp/models.py
  src/codemap/processor/analysis/tree_sitter/__init__.py
  src/codemap/processor/analysis/tree_sitter/languages/__init__.py
Due: pre-commit-tasks, pytest

refactor(codemap): extract embedding config and cache dir creation
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/git/diff_splitter/utils.py
Due: pre-commit-tasks, pytest

fix(parser): prevent array parsing issue when multiple spaces are contained in string
  .codemap_cache/.gitignore
Due: none

feat(typings): add type-stubs for model2vec
  typings/model2vec/__init__.pyi
  typings/model2vec/distill/__init__.pyi
  typings/model2vec/distill/distillation.pyi
  typings/model2vec/distill/inference.pyi
  typings/model2vec/distill/tokenizer.pyi
  typings/model2vec/distill/utils.pyi
  typings/model2vec/hf_utils.pyi
  typings/model2vec/inference/__init__.pyi
  typings/model2vec/inference/model.pyi
  typings/model2vec/model.pyi
  typings/model2vec/train/__init__.pyi
  typings/model2vec/train/base.pyi
  typings/model2vec/train/classifier.pyi
  typings/model2vec/utils.pyi
  typings/model2vec/version.pyi
Due: none

style(pyproject): update linter ignores
  pyproject.toml
Due: uv-sync

feat(cli): add daemon command to cli app
  src/codemap/cli_app.py
  src/codemap/config.py
Due: pre-commit-tasks, pytest

refactor(processor): remove git analysis and related code
  src/codemap/processor/TODO.md
  src/codemap/processor/__init__.py
  src/codemap/processor/analysis/git/__init__.py
  src/codemap/processor/analysis/git/analyzer.py
  src/codemap/processor/analysis/git/models.py
Due: pre-commit-tasks, pytest

feat: add language-specific configurations and handlers for tree-sitter analysis
  src/codemap/processor/tree_sitter/base.py
  src/codemap/processor/tree_sitter/languages/__init__.py
  src/codemap/processor/tree_sitter/languages/base.py
  src/codemap/processor/tree_sitter/languages/javascript.py
  src/codemap/processor/tree_sitter/languages/python.py
Due: pre-commit-tasks, pytest

test(utils): add unit tests for determine_output_path function
  tests/test_cli.py
  tests/utils/test_file_utils.py
Due: pre-commit-tasks, pytest

docs(codemap): update TODO comments
  src/codemap/processor/TODO.md
Due: none

feat(cli): add daemon command
  src/codemap/cli/__init__.py
  src/codemap/cli/commit_cmd.py
  src/codemap/cli/daemon_cmd.py
Due: pre-commit-tasks, pytest

chore(docs): remove outdated deployment documentation
  deployment/README.md
Due: none

feat(codemap)!: update package description and version
  src/codemap/__init__.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
