Repository SarthakMishra/codemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-sync, pre-commit-tasks, pytest

uv-sync:
  name: uv sync
  language: system
  entry: uv sync
  pass_filenames: false

pre-commit-tasks:
  name: Run pre-commit tasks (format, lint, test)
  language: system
  entry: task pre-commit
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: Run tests
  language: system
  entry: task pre-push
  pass_filenames: false
  stages:
  - pre-push

Create CNAME
  CNAME
Due: none

feat: add new functionality to handle user input
  docs/api/git/diff_splitter/index.md
  docs/api/git/semantic_grouping/index.md
  docs/api/processor/vector/index.md
Due: none

chore: update image assets
  docs/api/cli/index.md
  docs/api/gen/index.md
  docs/api/git/commit_generator/index.md
  docs/api/git/index.md
  docs/api/git/pr_generator/index.md
  docs/api/index.md
  docs/api/llm/index.md
  docs/contributing/guidelines.md
  docs/index.md
  docs/usage/commit.md
  docs/usage/configuration.md
  docs/usage/index.md
  docs/usage/llm-support.md
  docs/usage/pr.md
Due: none

docs: remove unused documentation files
  docs/api/processor/utils/index.md
  docs/api/utils/index.md
Due: none

docs(generate): remove generate markdown docs
  docs/usage/generate.md
Due: none

fix: update dependencies to resolve vulnerability
  src/codemap/git/commit_generator/generator.py
  src/codemap/git/commit_generator/schemas.py
  src/codemap/git/commit_generator/utils.py
  src/codemap/git/semantic_grouping/batch_processor.py
Due: pre-commit-tasks, pytest

fix(parser): resolve syntax error in query string
  tests/cli/test_commit_cmd.py
  tests/cli/test_gen_cmd.py
  tests/gen/test_command.py
  tests/git/commit/test_commit_workflow.py
  tests/git/diff_splitter/test_splitter.py
Due: pre-commit-tasks, pytest

refactor: remove commit linter docs and refactor commit generator
  docs/api/git/commit_linter/index.md
  src/codemap/cli/commit_cmd.py
  src/codemap/git/commit_generator/generator.py
Due: pre-commit-tasks, pytest

docs: remove contributing and installation guides
  docs/contributing/index.md
  docs/installation.md
Due: none

refactor(commit_generator): refactor commit generator command
  src/codemap/git/commit_generator/command.py
  src/codemap/git/commit_generator/utils.py
  src/codemap/git/semantic_grouping/__init__.py
  src/codemap/git/semantic_grouping/batch_processor.py
  tests/git/semantic_grouping/test_batch_processor.py
Due: pre-commit-tasks, pytest

refactor(utils): remove batch_generate_completions function
  src/codemap/llm/utils.py
Due: pre-commit-tasks, pytest

docs: remove processor documentation
  docs/api/processor/index.md
  docs/api/processor/tree_sitter/index.md
  docs/api/processor/tree_sitter/languages/index.md
Due: none

feat(codemap): update LLM configuration
  src/codemap/config.py
Due: pre-commit-tasks, pytest

docs: remove watcher overview documentation
  docs/api/watcher/index.md
Due: none

chore: remove .gitkeep file from docs/assets
  docs/assets/.gitkeep
Due: none

docs(db): remove database overview documentation
  docs/api/db/index.md
Due: none

chore: remove interrogate badge svg
  docs/assets/interrogate_badge.svg
Due: none

refactor(commit_generator): refactor commit generator code
  src/codemap/git/commit_generator/command.py
  src/codemap/git/commit_generator/generator.py
  src/codemap/git/commit_generator/utils.py
  src/codemap/git/interactive.py
Due: pre-commit-tasks, pytest

test(test_embedder): update test_embedder to check lines individually
  tests/git/semantic_grouping/test_embedder.py
Due: pre-commit-tasks, pytest

docs: remove rag overview documentation
  docs/api/llm/rag/index.md
Due: none

docs(code-of-conduct): remove code of conduct document
  docs/contributing/code-of-conduct.md
Due: none

chore: remove acknowledgements and redundant error handling
  docs/acknowledgements.md
  src/codemap/git/pr_generator/command.py
Due: pre-commit-tasks, pytest

chore: update Taskfile commands for vulture and interrogate tasks
  Taskfile.yml
Due: none

chore: merge mkdocs override from feature branch
  mkdocs.bak
  overrides/main.html
  uv.lock
Due: uv-sync

chore: remove mkdocs.bak file and update version to 0.2.0
  mkdocs.bak
  uv.lock
Due: uv-sync

feat: merge documentation from feature branch
  README.md
  uv.lock
Due: uv-sync

chore: merge mkdocs override from feature branch
  mkdocs.bak
  uv.lock
Due: uv-sync

chore: update uv lock file
  uv.lock
Due: uv-sync

refactor(diff_splitter): improve diff splitting logic
  src/codemap/git/diff_splitter/schemas.py
  src/codemap/git/diff_splitter/strategies.py
  src/codemap/llm/rag/ask/prompts.py
Due: pre-commit-tasks, pytest

chore(llm/rag): add tests and formatting for ask response
  src/codemap/llm/rag/__init__.py
  src/codemap/llm/rag/ask/command.py
  src/codemap/llm/rag/ask/formatter.py
  src/codemap/llm/rag/prompts.py
  tests/llm/rag/test_formatter.py
Due: pre-commit-tasks, pytest

Path conditions:
  uv-sync: any of: ^(pyproject.toml|uv.lock)$
  pre-commit-tasks: any of: \.py$
  pytest: any of: \.py$
